Repository FractalizeR/mcp_servers: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, prettier --write

feat(tracker)!: обязательный issueTypesConfig при создании очереди (D7)
  packages/servers/yandex-tracker/src/tools/api/queues/create-queue.metadata.ts
  packages/servers/yandex-tracker/src/tools/api/queues/create-queue.schema.ts
  packages/servers/yandex-tracker/src/tools/api/queues/create-queue.tool.ts
  packages/servers/yandex-tracker/src/tools/api/queues/update-queue.schema.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/queue/create-queue.dto.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/queue/dto.factories.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/queue/index.ts
  packages/servers/yandex-tracker/tests/helpers/queue-dto.fixture.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/queues/create/create-queue.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/tools/api/queues/create-queue.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/queues/update-queue.tool.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/queue/create-queue.operation.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/facade/services/queue.service.test.ts
Due: none

feat(tracker)!: создание проекта без key, очередь параметром queues (D8)
  packages/servers/yandex-tracker/src/tools/api/projects/base-project.schema.ts
  packages/servers/yandex-tracker/src/tools/api/projects/create-project.metadata.ts
  packages/servers/yandex-tracker/src/tools/api/projects/create-project.schema.ts
  packages/servers/yandex-tracker/src/tools/api/projects/create-project.tool.ts
  packages/servers/yandex-tracker/src/tools/api/projects/update-project.schema.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/project/create-project.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/project/create-project.dto.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/project/dto.factories.ts
  packages/servers/yandex-tracker/tests/helpers/project-dto.fixture.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/projects/create-project.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/tools/api/projects/create-project.tool.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/project/create-project.operation.test.ts
Due: none

feat(tracker)!: тело создания глобального поля без schema (D10)
  packages/servers/yandex-tracker/src/tools/api/fields/create-global-field.metadata.ts
  packages/servers/yandex-tracker/src/tools/api/fields/create-global-field.schema.ts
  packages/servers/yandex-tracker/src/tools/api/fields/create-global-field.tool.ts
  packages/servers/yandex-tracker/src/tools/api/fields/field-value.schema.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/field/create-field.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/field/create-field.dto.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/fields/create-global-field.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/tools/api/fields/create-global-field.tool.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/field/create-field.operation.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/facade/yandex-tracker.facade.test.ts
Due: none

feat(tracker)!: создание доски через POST /v3/liveBoards (D9)
  packages/servers/yandex-tracker/src/tools/api/boards/create-board.metadata.ts
  packages/servers/yandex-tracker/src/tools/api/boards/create-board.schema.ts
  packages/servers/yandex-tracker/src/tools/api/boards/create-board.tool.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/board/create-board.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/board/create-board.dto.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/board/index.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/board/update-board.dto.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/index.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/boards/create-board.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/tools/api/boards/create-board.tool.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/board/create-board.operation.retry.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/board/create-board.operation.test.ts
Due: none

feat(tracker)!: отказ при неоднозначной адресации колонки доски (D11)
  packages/framework/core/src/definition/tool-warning.ts
  packages/servers/yandex-tracker/src/tools/api/boards/create-board-column.tool.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/board-column/board-column-addressing.util.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/board-column/delete-board-column.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/board-column/update-board-column.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/entities/board.entity.ts
  packages/servers/yandex-tracker/src/tracker_api/entities/index.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/boards/create-board-column.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/boards/delete-board-column.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/boards/update-board-column.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/tools/api/boards/create-board-column.tool.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/board-column/board-column-addressing.util.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/board-column/delete-board-column.operation.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/board-column/update-board-column.operation.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/entities/board-column-addressing.test.ts
Due: none

test(tracker): восстановить покрытие, потерянное молча
  packages/servers/yandex-tracker/scripts/enumerate-outgoing-requests.ts
  packages/servers/yandex-tracker/tests/integration/helpers/mock-server.ts
  packages/servers/yandex-tracker/tests/smoke/tool-params-reach-api.smoke.test.ts
Due: prettier --write

docs(tracker): маршруты создания, план починки и отчёт живого прогона
  .agentic-planning/plan_tracker_fix_create_tools/0_CONTRACTS.md
  .agentic-planning/plan_tracker_fix_create_tools/1.1_scope_rules_sequential.md
  .agentic-planning/plan_tracker_fix_create_tools/1.2_shared_seams_sequential.md
  .agentic-planning/plan_tracker_fix_create_tools/2.1_component_parallel.md
  .agentic-planning/plan_tracker_fix_create_tools/2.2_queue_parallel.md
  .agentic-planning/plan_tracker_fix_create_tools/2.3_project_parallel.md
  .agentic-planning/plan_tracker_fix_create_tools/2.4_global_field_parallel.md
  .agentic-planning/plan_tracker_fix_create_tools/2.5_board_parallel.md
  .agentic-planning/plan_tracker_fix_create_tools/2.6_board_columns_parallel.md
  .agentic-planning/plan_tracker_fix_create_tools/3.1_live_acceptance_sequential.md
  .agentic-planning/plan_tracker_fix_create_tools/3.2_LIVE_RUN_REPORT_2026-08-25b.md
  .agentic-planning/plan_tracker_fix_create_tools/README.md
  .agentic-planning/plan_tracker_fix_create_tools/enumeration.md
  packages/servers/TESTING_STRATEGY.md
  packages/servers/yandex-tracker/CLAUDE.md
  packages/servers/yandex-tracker/src/tracker_api/api_operations/README.md
Due: none

feat(tracker): сплошная сверка маршрутов с документацией API
  packages/servers/yandex-tracker/doc-route-sweep.md
  packages/servers/yandex-tracker/outgoing-requests.md
  packages/servers/yandex-tracker/package.json
  packages/servers/yandex-tracker/scripts/enumerate-outgoing-requests.ts
  packages/servers/yandex-tracker/scripts/sweep-doc-routes.ts
  packages/servers/yandex-tracker/tests/TESTING_STRATEGY.md
Due: sort-package-json, prettier --write

feat(tracker)!: контракты правки, разошедшиеся с API, найденные сверкой
  packages/servers/yandex-tracker/src/live_scope/organization-rules.ts
  packages/servers/yandex-tracker/src/live_scope/rule-matching.ts
  packages/servers/yandex-tracker/src/tools/api/boards/update-board.schema.ts
  packages/servers/yandex-tracker/src/tools/api/components/update-component.schema.ts
  packages/servers/yandex-tracker/src/tools/api/components/update-component.tool.ts
  packages/servers/yandex-tracker/src/tools/api/projects/base-project.schema.ts
  packages/servers/yandex-tracker/src/tools/api/projects/update-project.metadata.ts
  packages/servers/yandex-tracker/src/tools/api/projects/update-project.schema.ts
  packages/servers/yandex-tracker/src/tools/api/projects/update-project.tool.ts
  packages/servers/yandex-tracker/src/tools/api/queues/create-queue.metadata.ts
  packages/servers/yandex-tracker/src/tools/api/queues/create-queue.schema.ts
  packages/servers/yandex-tracker/src/tools/api/queues/create-queue.tool.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/component/update-component.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/project/update-project.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/board/update-board.dto.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/component/component.output.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/project/update-project.dto.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/queue/create-queue.dto.ts
  packages/servers/yandex-tracker/src/tracker_api/entities/component.entity.ts
  packages/servers/yandex-tracker/src/tracker_api/entities/project.entity.ts
  packages/servers/yandex-tracker/src/tracker_api/facade/services/component.service.ts
  packages/servers/yandex-tracker/src/tracker_api/facade/yandex-tracker.facade.ts
  packages/servers/yandex-tracker/tests/helpers/component.fixture.ts
  packages/servers/yandex-tracker/tests/integration/helpers/mock-server.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/projects/update-project.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/live_scope/known-mutating-requests.ts
  packages/servers/yandex-tracker/tests/live_scope/scope-rules.test.ts
  packages/servers/yandex-tracker/tests/tools/api/projects/update-project.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/queues/create-queue.tool.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/component/update-component.operation.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/project/update-project.operation.test.ts
Due: none

docs(tracker): отчёт сверки маршрутов, план починки и открытые пункты
  .agentic-planning/plan_tracker_fix_create_tools/4_ROUTE_SWEEP_2026-08-25.md
  .agentic-planning/plan_tracker_route_sweep_fixes/1.1_fixes_parallel.md
  .agentic-planning/plan_tracker_route_sweep_fixes/2_LIVE_RUN_REPORT_2026-08-25c.md
  .agentic-planning/plan_tracker_route_sweep_fixes/3_OPEN_ITEMS.md
Due: none

test(live-scope): доказать белый список вложенных ресурсов задачи
  .agentic-planning/plan_tracker_route_sweep_fixes/3_OPEN_ITEMS.md
  packages/servers/yandex-tracker/tests/live_scope/scope-rules.test.ts
Due: none

fix(tracker)!: убрать version из правки доски — API его отвергает
  packages/servers/yandex-tracker/src/tools/api/boards/update-board.schema.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/board/update-board.dto.ts
  packages/servers/yandex-tracker/tests/tools/api/boards/update-board.tool.test.ts
Due: none

docs(tracker): инвентарь ссылок перед удалением легаси-проектов и delete-инструментов
  .agentic-planning/plan_tracker_route_sweep_fixes/inventory/delete-tools-refs.md
  .agentic-planning/plan_tracker_route_sweep_fixes/inventory/legacy-projects-refs.md
  .agentic-planning/plan_tracker_route_sweep_fixes/inventory/projects-vs-entities.md
Due: none

fix(tracker)!: находки ревью — дыра в рубеже, issueTypes у правки очереди
  .agentic-planning/plan_tracker_route_sweep_fixes/3_OPEN_ITEMS.md
  packages/servers/yandex-tracker/doc-route-sweep.md
  packages/servers/yandex-tracker/outgoing-requests.md
  packages/servers/yandex-tracker/scripts/sweep-doc-routes.ts
  packages/servers/yandex-tracker/src/live_scope/organization-rules.ts
  packages/servers/yandex-tracker/src/tools/api/queues/update-queue.schema.ts
  packages/servers/yandex-tracker/src/tools/api/queues/update-queue.tool.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/queue/update-queue.dto.ts
  packages/servers/yandex-tracker/tests/live_scope/organization-rules.test.ts
  packages/servers/yandex-tracker/tests/live_scope/scope-rules.test.ts
  packages/servers/yandex-tracker/tests/tools/api/queues/update-queue.tool.test.ts
  review-route-sweep/BRIEF.md
  review-route-sweep/changes.diff
  review-route-sweep/diff_files.txt
  review-route-sweep/findings/claude.md
  review-route-sweep/findings/codex.md
  review-route-sweep/raw/codex.md
Due: prettier --write

fix(tracker): остаток находок ревью — версия, счётчики, хвосты
  packages/framework/dev-client/docs/tools-annotations-inventory.md
  packages/servers/yandex-tracker/CLAUDE.md
  packages/servers/yandex-tracker/README.md
  packages/servers/yandex-tracker/scripts/sweep-doc-routes.ts
  packages/servers/yandex-tracker/src/tools/api/queues/update-queue.metadata.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/component/update-component.operation.ts
  packages/servers/yandex-tracker/tests/integration/helpers/mock-server.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/component/update-component.operation.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/facade/yandex-tracker.facade.batch.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/facade/yandex-tracker.facade.test.ts
  review-route-sweep/findings/qwen.md
  review-route-sweep/raw/qwen.md
Due: prettier --write

feat(core): предупреждение VERSION_NOT_PROVIDED и вторая половина ограничения доски
  .agentic-planning/plan_tracker_route_sweep_fixes/3_OPEN_ITEMS.md
  packages/framework/core/src/definition/tool-warning.ts
  packages/servers/yandex-tracker/src/tools/api/components/update-component.tool.ts
  packages/servers/yandex-tracker/tests/tools/api/boards/update-board.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/components/update-component.tool.test.ts
  review-route-sweep/BRIEF.md
  review-route-sweep/changes.diff
  review-route-sweep/diff_files.txt
  review-route-sweep/findings/claude.md
  review-route-sweep/findings/codex.md
  review-route-sweep/findings/qwen.md
  review-route-sweep/raw/codex.md
  review-route-sweep/raw/qwen.md
Due: none

chore(release): 4.0.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
  packages/framework/cli/package.json
  packages/framework/core/package.json
  packages/framework/infrastructure/package.json
  packages/servers/yandex-tracker/package.json
  packages/servers/yandex-wiki/package.json
  packages/wrappers/mcp-server-yandex-tracker/package.json
  packages/wrappers/mcp-server-yandex-wiki/package.json
Due: sort-package-json

Notes added by 'git notes add'
  5d0fe077165e567e2d82131d2e3c2f0684c06a24
Due: none

docs(tracker): актуализировать открытые пункты после выкатки 4.0.0
  .agentic-planning/plan_tracker_route_sweep_fixes/3_OPEN_ITEMS.md
Due: none

fix(tracker): починка инструментов спринтов и досок по живому прогону
  packages/servers/yandex-tracker/src/tools/api/boards/update-board.metadata.ts
  packages/servers/yandex-tracker/src/tools/api/boards/update-board.schema.ts
  packages/servers/yandex-tracker/src/tools/api/components/update-component.tool.ts
  packages/servers/yandex-tracker/src/tools/api/sprints/create-sprint.metadata.ts
  packages/servers/yandex-tracker/src/tools/api/sprints/create-sprint.schema.ts
  packages/servers/yandex-tracker/src/tools/api/sprints/manage-sprint-lifecycle.metadata.ts
  packages/servers/yandex-tracker/src/tools/api/sprints/manage-sprint-lifecycle.schema.ts
  packages/servers/yandex-tracker/src/tools/api/sprints/manage-sprint-lifecycle.tool.ts
  packages/servers/yandex-tracker/src/tools/api/sprints/update-sprint.metadata.ts
  packages/servers/yandex-tracker/src/tools/api/sprints/update-sprint.schema.ts
  packages/servers/yandex-tracker/src/tools/api/sprints/update-sprint.tool.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/component/update-component.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/read-current-version.util.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/sprint/manage-sprint-lifecycle.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/sprint/update-sprint.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/board/update-board.dto.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/sprint/create-sprint.dto.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/sprint/manage-sprint-lifecycle.dto.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/sprint/update-sprint.dto.ts
  packages/servers/yandex-tracker/src/tracker_api/facade/services/sprint.service.ts
  packages/servers/yandex-tracker/src/tracker_api/facade/yandex-tracker.facade.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/sprints/manage-sprint-lifecycle.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/sprints/update-sprint.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/tools/api/sprints/manage-sprint-lifecycle.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/sprints/update-sprint.tool.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/component/update-component.operation.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/sprint/manage-sprint-lifecycle.operation.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/sprint/update-sprint.operation.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/facade/yandex-tracker.facade.test.ts
Due: none

feat(queues)!: контракт manage_queue_access по документированной форме
  packages/servers/yandex-tracker/src/tools/api/queues/manage-queue-access.metadata.ts
  packages/servers/yandex-tracker/src/tools/api/queues/manage-queue-access.schema.ts
  packages/servers/yandex-tracker/src/tools/api/queues/manage-queue-access.tool.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/README.md
  packages/servers/yandex-tracker/src/tracker_api/api_operations/queue/manage-queue-access.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/queue/dto.factories.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/queue/manage-queue-access.dto.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/queue/queue-permissions.output.ts
  packages/servers/yandex-tracker/src/tracker_api/entities/README.md
  packages/servers/yandex-tracker/src/tracker_api/entities/entity.factories.ts
  packages/servers/yandex-tracker/src/tracker_api/entities/index.ts
  packages/servers/yandex-tracker/src/tracker_api/entities/queue-permission.entity.ts
  packages/servers/yandex-tracker/src/tracker_api/facade/services/queue.service.ts
  packages/servers/yandex-tracker/tests/coverage-exceptions/legacy-mock-tests.ts
  packages/servers/yandex-tracker/tests/helpers/queue-dto.fixture.ts
  packages/servers/yandex-tracker/tests/helpers/queue-permission.fixture.ts
  packages/servers/yandex-tracker/tests/helpers/test-fields.ts
  packages/servers/yandex-tracker/tests/integration/helpers/mock-server.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/queues/access/manage-queue-access.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/tools/api/queues/manage-queue-access.tool.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/queue/manage-queue-access.operation.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/facade/services/queue.service.test.ts
Due: none

fix(live-scope): fail-closed на форме {add|remove} и дрейф белых списков
  packages/servers/yandex-tracker/src/live_scope/organization-rules.ts
  packages/servers/yandex-tracker/src/live_scope/people-in-body.ts
  packages/servers/yandex-tracker/tests/live_scope/body-inspection.test.ts
  packages/servers/yandex-tracker/tests/live_scope/known-mutating-requests.ts
  packages/servers/yandex-tracker/tests/live_scope/organization-rules.test.ts
Due: none

docs(tracker): сверка маршрутов и открытые пункты после живого прогона
  .agentic-planning/plan_tracker_route_sweep_fixes/3_OPEN_ITEMS.md
  .agentic-planning/plan_tracker_sweep7_fixes/0_LIVE_RUN_REPORT_2026-08-26.md
  .agentic-planning/plan_tracker_sweep7_fixes/1_PLAN.md
  .agentic-planning/plan_tracker_sweep7_fixes/2_REVIEW_RESOLUTION.md
  .agentic-planning/plan_tracker_sweep7_fixes/inventory/artefacts-2026-08-26.md
  .agentic-planning/plan_tracker_sweep7_fixes/inventory/queue-permissions-response-2026-08-26.json
  .agentic-planning/plan_tracker_sweep7_fixes/review/BRIEF.md
  .agentic-planning/plan_tracker_sweep7_fixes/review/changes.diff
  .agentic-planning/plan_tracker_sweep7_fixes/review/codex.md
  .agentic-planning/plan_tracker_sweep7_fixes/review/comprehensive.md
  .agentic-planning/plan_tracker_sweep7_fixes/review/findings/qwen.md
  .agentic-planning/plan_tracker_sweep7_fixes/review/raw/codex.md
  .agentic-planning/plan_tracker_sweep7_fixes/review/raw/qwen.md
  packages/servers/yandex-tracker/README.md
  packages/servers/yandex-tracker/doc-route-sweep.md
  packages/servers/yandex-tracker/outgoing-requests.md
  packages/servers/yandex-tracker/scripts/sweep-doc-routes.ts
  packages/servers/yandex-tracker/tests/TESTING_STRATEGY.md
Due: prettier --write

feat(core): барьер соответствия redactionAllowlist схеме инструмента
  packages/framework/core/src/tools/base/index.ts
  packages/framework/core/src/tools/base/redaction-allowlist-validator.ts
  packages/framework/core/src/tools/base/tool-input-schema.ts
  packages/framework/core/tests/tools/base/redaction-allowlist-validator.test.ts
  packages/servers/yandex-tracker/scripts/validate-tool-registration.ts
  packages/servers/yandex-tracker/tests/coverage-exceptions/live-exempt-categories.ts
  packages/servers/yandex-tracker/tests/live-runs/0_LIVE_RUN_REPORT_2026-08-26.md
  packages/servers/yandex-tracker/tests/live-runs/2_LIVE_RUN_REPORT_2026-08-25c.md
  packages/servers/yandex-wiki/scripts/validate-tool-registration.ts
Due: prettier --write

feat(build): подключить coverage:check к конвейеру валидации
  CLAUDE.md
  MCP_SERVER_CHECKLIST.md
  packages/servers/yandex-tracker/CLAUDE.md
  scripts/validate.sh
Due: none

chore(release): 5.0.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
  packages/framework/cli/package.json
  packages/framework/core/package.json
  packages/framework/infrastructure/package.json
  packages/servers/yandex-tracker/package.json
  packages/servers/yandex-wiki/package.json
  packages/wrappers/mcp-server-yandex-tracker/package.json
  packages/wrappers/mcp-server-yandex-wiki/package.json
Due: sort-package-json

Notes added by 'git notes add'
  3d4cb8674ac4e19ce9def8a1664142be99edfd19
Due: none

docs: снять ссылки на каталог плана, актуализировать открытые пункты
  .agentic-planning/plan_tracker_route_sweep_fixes/3_OPEN_ITEMS.md
  packages/framework/core/src/tools/base/redaction-allowlist-validator.ts
  packages/framework/core/tests/tools/base/redaction-allowlist-validator.test.ts
  packages/servers/yandex-tracker/tests/TESTING_STRATEGY.md
Due: none

fix(tracker): не чистить description на пути записи в задачу
  .agentic-planning/plan_mcp_2026_modernization/6.1_apps_pilot_sequential.md
  packages/servers/yandex-tracker/src/tools/api/issues/analyze/analyze-issue-description.schema.ts
  packages/servers/yandex-tracker/src/tools/api/issues/analyze/analyze-issue-description.tool.ts
  packages/servers/yandex-tracker/src/tools/api/issues/analyze/index.ts
  packages/servers/yandex-tracker/src/tools/api/issues/analyze/sanitize-tracker-text.ts
  packages/servers/yandex-tracker/src/tools/api/issues/analyze/suggest-description-rewrite.ts
  packages/servers/yandex-tracker/tests/tools/api/issues/analyze/analyze-issue-description.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/issues/analyze/sanitize-tracker-text.test.ts
  packages/servers/yandex-tracker/tests/tools/api/issues/analyze/suggest-description-rewrite.test.ts
Due: none

fix(apps): починить виджет MCP Apps и привести его к SEP-1865
  packages/servers/yandex-tracker/src/composition-root/container.ts
  packages/servers/yandex-tracker/src/resources/index.ts
  packages/servers/yandex-tracker/src/resources/issue-description-editor-resource-provider.ts
  packages/servers/yandex-tracker/src/resources/issue-description-editor.widget.ts
  packages/servers/yandex-tracker/tests/resources/issue-description-editor-resource-provider.test.ts
  packages/servers/yandex-tracker/tests/resources/issue-description-editor.wire.test.ts
  packages/servers/yandex-tracker/tests/resources/tracker-resources.wire.test.ts
Due: none

test(apps): прогонять JS виджета MCP Apps в jsdom с фальшивым хостом
  package-lock.json
  packages/servers/yandex-tracker/package.json
  packages/servers/yandex-tracker/tests/resources/issue-description-editor.widget.test.ts
  packages/servers/yandex-tracker/tsconfig.tests.json
Due: sort-package-json

chore(release): 5.0.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
  packages/framework/cli/package.json
  packages/framework/core/package.json
  packages/framework/infrastructure/package.json
  packages/servers/yandex-tracker/package.json
  packages/servers/yandex-wiki/package.json
  packages/wrappers/mcp-server-yandex-tracker/package.json
  packages/wrappers/mcp-server-yandex-wiki/package.json
Due: sort-package-json

Notes added by 'git notes add'
  e4f20b20871d312a361010e60030d7fb483ec305
Due: none

feat(core): добавить билдер подсказки об оптимистичной блокировке
  packages/framework/core/README.md
  packages/framework/core/src/definition/index.ts
  packages/framework/core/src/definition/optimistic-lock-description.ts
  packages/framework/core/tests/definition/optimistic-lock-description.test.ts
Due: none

feat(tracker,wiki): объяснить параметр блокировки в описаниях инструментов
  packages/servers/yandex-tracker/src/tools/api/components/update-component.schema.ts
  packages/servers/yandex-tracker/src/tools/api/entities/update-entity.schema.ts
  packages/servers/yandex-tracker/src/tools/api/issues/update/update-issue.schema.ts
  packages/servers/yandex-tracker/src/tools/api/sprints/manage-sprint-lifecycle.schema.ts
  packages/servers/yandex-tracker/src/tools/api/sprints/update-sprint.schema.ts
  packages/servers/yandex-tracker/tests/mcp/optimistic-lock-descriptions.test.ts
  packages/servers/yandex-wiki/src/tools/api/grids/cells/update/update-cells.schema.ts
  packages/servers/yandex-wiki/src/tools/api/grids/columns/add/add-columns.schema.ts
  packages/servers/yandex-wiki/src/tools/api/grids/columns/move/move-columns.schema.ts
  packages/servers/yandex-wiki/src/tools/api/grids/columns/remove/remove-columns.schema.ts
  packages/servers/yandex-wiki/src/tools/api/grids/rows/add/add-rows.schema.ts
  packages/servers/yandex-wiki/src/tools/api/grids/rows/move/move-rows.schema.ts
  packages/servers/yandex-wiki/src/tools/api/grids/rows/remove/remove-rows.schema.ts
  packages/servers/yandex-wiki/src/tools/api/grids/update/update-grid.schema.ts
  packages/servers/yandex-wiki/tests/smoke/optimistic-lock-descriptions.test.ts
Due: none

test(tracker): пере-штамповать реестр живых наблюдений после правки описаний
  packages/servers/yandex-tracker/tests/COVERAGE_MATRIX.md
  packages/servers/yandex-tracker/tests/coverage-exceptions/live-observations.ts
Due: none

chore(release): 5.1.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
  packages/framework/cli/package.json
  packages/framework/core/package.json
  packages/framework/infrastructure/package.json
  packages/servers/yandex-tracker/package.json
  packages/servers/yandex-wiki/package.json
  packages/wrappers/mcp-server-yandex-tracker/package.json
  packages/wrappers/mcp-server-yandex-wiki/package.json
Due: sort-package-json

Path conditions:
  sort-package-json: any of: **/package.json
  prettier --write: any of: packages/servers/yandex-tracker/scripts/**/*.ts
