Repository FractalizeR/mcp_servers: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, prettier --write

fix(tracker): пагинация — стабильный hasNextPage, кеш-аудит, _search; +maxTotalItems
  packages/servers/yandex-tracker/src/tools/api/checklists/get/get-checklist.schema.ts
  packages/servers/yandex-tracker/src/tools/api/checklists/get/get-checklist.tool.ts
  packages/servers/yandex-tracker/src/tools/api/comments/get/get-comments.schema.ts
  packages/servers/yandex-tracker/src/tools/api/comments/get/get-comments.tool.ts
  packages/servers/yandex-tracker/src/tools/api/issues/attachments/get/get-attachments.schema.ts
  packages/servers/yandex-tracker/src/tools/api/issues/attachments/get/get-attachments.tool.ts
  packages/servers/yandex-tracker/src/tools/api/issues/changelog/get-issue-changelog.schema.ts
  packages/servers/yandex-tracker/src/tools/api/issues/changelog/get-issue-changelog.tool.ts
  packages/servers/yandex-tracker/src/tools/api/issues/links/get/get-issue-links.schema.ts
  packages/servers/yandex-tracker/src/tools/api/issues/links/get/get-issue-links.tool.ts
  packages/servers/yandex-tracker/src/tools/api/worklog/get/get-worklogs.schema.ts
  packages/servers/yandex-tracker/src/tools/api/worklog/get/get-worklogs.tool.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/README.md
  packages/servers/yandex-tracker/src/tracker_api/api_operations/attachment/get-attachments.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/checklist/get-checklist.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/comment/get-comments.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/issue/changelog/get-issue-changelog.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/issue/find/find-issues.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/link/get-issue-links.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/project/get-projects.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/queue/get-queues.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/worklog/get-worklogs.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/attachment/get-attachments.input.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/checklist/get-checklist.dto.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/comment/get-comments.input.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/issue/get-issue-changelog-input.dto.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/link/get-issue-links.input.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/worklog/get-worklogs.input.ts
  packages/servers/yandex-tracker/src/tracker_api/utils/index.ts
  packages/servers/yandex-tracker/src/tracker_api/utils/item-budget.util.ts
  packages/servers/yandex-tracker/src/tracker_api/utils/tracker-paginator.util.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/attachment/get-attachments.operation.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/comment/get-comments.operation.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/issue/find/find-issues.operation.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/queue/get-queues.operation.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/utils/item-budget.util.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/utils/tracker-paginator.util.test.ts
Due: none

chore(release): 1.5.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
  packages/framework/cli/package.json
  packages/framework/core/package.json
  packages/framework/infrastructure/package.json
  packages/framework/search/package.json
  packages/servers/ticktick/manifest.json
  packages/servers/ticktick/package.json
  packages/servers/yandex-tracker/manifest.json
  packages/servers/yandex-tracker/package.json
  packages/servers/yandex-wiki/manifest.json
  packages/servers/yandex-wiki/package.json
  packages/wrappers/mcp-server-ticktick/package.json
  packages/wrappers/mcp-server-yandex-tracker/package.json
  packages/wrappers/mcp-server-yandex-wiki/package.json
Due: sort-package-json

Notes added by 'git notes add'
  cd41574cc40e6c567048c5b661fe4bb9270669e5
Due: none

fix(tracker): changelog — восстановлен page в single-page режиме
  packages/servers/yandex-tracker/src/tracker_api/api_operations/issue/changelog/get-issue-changelog.operation.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/issue/changelog/get-issue-changelog.operation.test.ts
Due: none

chore(release): 1.5.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
  packages/framework/cli/package.json
  packages/framework/core/package.json
  packages/framework/infrastructure/package.json
  packages/framework/search/package.json
  packages/servers/ticktick/manifest.json
  packages/servers/ticktick/package.json
  packages/servers/yandex-tracker/manifest.json
  packages/servers/yandex-tracker/package.json
  packages/servers/yandex-wiki/manifest.json
  packages/servers/yandex-wiki/package.json
  packages/wrappers/mcp-server-ticktick/package.json
  packages/wrappers/mcp-server-yandex-tracker/package.json
  packages/wrappers/mcp-server-yandex-wiki/package.json
Due: sort-package-json

Notes added by 'git notes add'
  278f498cfc3be8ee8980ff63dc7ad20d5992ee5e
Due: none

docs(tracker): план перехода пагинации на единый opaque-cursor
  .agentic-planning/plan_pagination_cursor/0_overview_and_decisions.md
  .agentic-planning/plan_pagination_cursor/0b_review_resolutions.md
  .agentic-planning/plan_pagination_cursor/1.1_shared_contracts_sequential.md
  .agentic-planning/plan_pagination_cursor/2.x_endpoint_groups_parallel.md
  .agentic-planning/plan_pagination_cursor/3.1_docs_validation_review_sequential.md
Due: none

feat(tracker): этап 1.1 — общие контракты opaque-cursor пагинации
  .agentic-planning/plan_pagination_cursor/0_overview_and_decisions.md
  .agentic-planning/plan_pagination_cursor/1.1_shared_contracts_sequential.md
  packages/servers/yandex-tracker/src/common/schemas/pagination.schema.ts
  packages/servers/yandex-tracker/src/tracker_api/entities/common/pagination.entity.ts
  packages/servers/yandex-tracker/src/tracker_api/utils/cursor-codec.util.ts
  packages/servers/yandex-tracker/src/tracker_api/utils/index.ts
  packages/servers/yandex-tracker/src/tracker_api/utils/strip-host.util.ts
  packages/servers/yandex-tracker/src/tracker_api/utils/tracker-paginator.util.ts
  packages/servers/yandex-tracker/tests/common/schemas/pagination.schema.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/utils/cursor-codec.util.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/utils/tracker-paginator.util.test.ts
Due: none

chore(release): 1.6.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
  packages/framework/cli/package.json
  packages/framework/core/package.json
  packages/framework/infrastructure/package.json
  packages/framework/search/package.json
  packages/servers/ticktick/manifest.json
  packages/servers/ticktick/package.json
  packages/servers/yandex-tracker/manifest.json
  packages/servers/yandex-tracker/package.json
  packages/servers/yandex-wiki/manifest.json
  packages/servers/yandex-wiki/package.json
  packages/wrappers/mcp-server-ticktick/package.json
  packages/wrappers/mcp-server-yandex-tracker/package.json
  packages/wrappers/mcp-server-yandex-wiki/package.json
Due: sort-package-json

Notes added by 'git notes add'
  c59b6acdc03ec9de2afd9684944cc27e5f917542
Due: none

chore(tracker): удалён выполненный план plan_pagination_cursor
  .agentic-planning/plan_pagination_cursor/0_overview_and_decisions.md
  .agentic-planning/plan_pagination_cursor/0b_review_resolutions.md
  .agentic-planning/plan_pagination_cursor/1.1_shared_contracts_sequential.md
  .agentic-planning/plan_pagination_cursor/2.x_endpoint_groups_parallel.md
  .agentic-planning/plan_pagination_cursor/3.1_docs_validation_review_sequential.md
Due: none

fix(tracker): ревью cursor — привязка к задаче, mid-page, строгий base64url
  packages/servers/yandex-tracker/src/common/schemas/pagination.schema.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/checklist/get-checklist.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/comment/get-comments.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/issue/changelog/get-issue-changelog.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/issue/find/find-issues.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/link/get-issue-links.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/worklog/get-worklogs.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/utils/cursor-codec.util.ts
  packages/servers/yandex-tracker/src/tracker_api/utils/tracker-paginator.util.ts
  packages/servers/yandex-tracker/tests/tracker_api/utils/cursor-codec.util.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/utils/tracker-paginator.util.test.ts
Due: none

docs(tracker): пагинация README/CLAUDE переведена на opaque-cursor
  packages/servers/yandex-tracker/CLAUDE.md
  packages/servers/yandex-tracker/src/tools/README.md
  packages/servers/yandex-tracker/src/tracker_api/api_operations/README.md
  packages/servers/yandex-tracker/src/tracker_api/utils/README.md
Due: none

refactor(tracker): этап 3.1 — удаление legacy page
  packages/servers/yandex-tracker/src/common/schemas/pagination.schema.ts
  packages/servers/yandex-tracker/src/tracker_api/entities/common/pagination.entity.ts
  packages/servers/yandex-tracker/src/tracker_api/utils/tracker-paginator.util.ts
  packages/servers/yandex-tracker/tests/common/schemas/pagination.schema.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/utils/tracker-paginator.util.test.ts
Due: none

chore(release): 1.7.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
  packages/framework/cli/package.json
  packages/framework/core/package.json
  packages/framework/infrastructure/package.json
  packages/framework/search/package.json
  packages/servers/ticktick/manifest.json
  packages/servers/ticktick/package.json
  packages/servers/yandex-tracker/manifest.json
  packages/servers/yandex-tracker/package.json
  packages/servers/yandex-wiki/manifest.json
  packages/servers/yandex-wiki/package.json
  packages/wrappers/mcp-server-ticktick/package.json
  packages/wrappers/mcp-server-yandex-tracker/package.json
  packages/wrappers/mcp-server-yandex-wiki/package.json
Due: sort-package-json

Notes added by 'git notes add'
  4e36bd6b347856d2fd7e1e29e0fc4d4895a2554a
Due: none

docs(mcp): анализ спецификации MCP 2026-07-28
  MCP_2026_07_28_ANALYSIS.md
Due: none

docs(planning): план модернизации под MCP 2026-07-28
  .agentic-planning/plan_mcp_2026_modernization/1.1_defects_sequential.md
  .agentic-planning/plan_mcp_2026_modernization/2.1_remove_lazy_sequential.md
  .agentic-planning/plan_mcp_2026_modernization/3.1_tool_contracts_parallel.md
  .agentic-planning/plan_mcp_2026_modernization/4.1_dual_era_sequential.md
  .agentic-planning/plan_mcp_2026_modernization/5.1_resources_prompts_parallel.md
  .agentic-planning/plan_mcp_2026_modernization/6.1_apps_pilot_sequential.md
  .agentic-planning/plan_mcp_2026_modernization/7.1_api_defects_parallel.md
  .agentic-planning/plan_mcp_2026_modernization/7.2_api_coverage_parallel.md
  .agentic-planning/plan_mcp_2026_modernization/README.md
  .agentic-planning/plan_mcp_2026_modernization/assets/icon/README.md
  .agentic-planning/plan_mcp_2026_modernization/assets/icon/build_monogram.py
  .agentic-planning/plan_mcp_2026_modernization/assets/icon/extract_glyphs.py
  .agentic-planning/plan_mcp_2026_modernization/assets/icon/fr-circle-256.png
  .agentic-planning/plan_mcp_2026_modernization/assets/icon/fr-circle-48.png
  .agentic-planning/plan_mcp_2026_modernization/assets/icon/fr-circle-96.png
  .agentic-planning/plan_mcp_2026_modernization/assets/icon/fr-circle.svg
  .agentic-planning/plan_mcp_2026_modernization/assets/icon/fr-loose-256.png
  .agentic-planning/plan_mcp_2026_modernization/assets/icon/fr-loose-48.png
  .agentic-planning/plan_mcp_2026_modernization/assets/icon/fr-loose-96.png
  .agentic-planning/plan_mcp_2026_modernization/assets/icon/fr-loose.svg
  .agentic-planning/plan_mcp_2026_modernization/assets/icon/fr-metric-256.png
  .agentic-planning/plan_mcp_2026_modernization/assets/icon/fr-metric-48.png
  .agentic-planning/plan_mcp_2026_modernization/assets/icon/fr-metric-96.png
  .agentic-planning/plan_mcp_2026_modernization/assets/icon/fr-metric.svg
  .agentic-planning/plan_mcp_2026_modernization/assets/icon/fr-square-256.png
  .agentic-planning/plan_mcp_2026_modernization/assets/icon/fr-square-48.png
  .agentic-planning/plan_mcp_2026_modernization/assets/icon/fr-square-96.png
  .agentic-planning/plan_mcp_2026_modernization/assets/icon/fr-square.svg
  .agentic-planning/plan_mcp_2026_modernization/assets/icon/fr-tight-256.png
  .agentic-planning/plan_mcp_2026_modernization/assets/icon/fr-tight-48.png
  .agentic-planning/plan_mcp_2026_modernization/assets/icon/fr-tight-96.png
  .agentic-planning/plan_mcp_2026_modernization/assets/icon/fr-tight.svg
  .agentic-planning/plan_mcp_2026_modernization/assets/icon/sizes.json
  .agentic-planning/plan_mcp_2026_modernization/inventory/table1-lazy-surface.md
  .agentic-planning/plan_mcp_2026_modernization/inventory/table2-tools-matrix.tsv
  .agentic-planning/plan_mcp_2026_modernization/inventory/table3-protocol-surface.md
  .agentic-planning/plan_mcp_2026_modernization/inventory/table4-tracker-api-coverage.md
  .agentic-planning/plan_mcp_2026_modernization/inventory/table5-wiki-api-coverage.md
Due: none

docs(mcp): исправлена база анализа и снята ложная находка
  .agentic-planning/plan_mcp_2026_modernization/README.md
  MCP_2026_07_28_ANALYSIS.md
Due: none

docs(planning): закрыта последняя гипотеза аудита по Трекеру
  .agentic-planning/plan_mcp_2026_modernization/7.1_api_defects_parallel.md
  .agentic-planning/plan_mcp_2026_modernization/assets/icon/README.md
  .agentic-planning/plan_mcp_2026_modernization/inventory/table4-tracker-api-coverage.md
Due: none

feat(http): политика повторов по методу, ключ идемпотентности и errorsData
  packages/framework/infrastructure/src/http/client/axios-http-client.ts
  packages/framework/infrastructure/src/http/client/i-http-client.interface.ts
  packages/framework/infrastructure/src/http/client/mock-http-client.ts
  packages/framework/infrastructure/src/http/error/api-error.class.ts
  packages/framework/infrastructure/src/http/error/error-mapper.ts
  packages/framework/infrastructure/src/http/error/index.ts
  packages/framework/infrastructure/src/http/retry/exponential-backoff.strategy.ts
  packages/framework/infrastructure/src/http/retry/index.ts
  packages/framework/infrastructure/src/http/retry/retry-handler.ts
  packages/framework/infrastructure/src/http/retry/retry-strategy.interface.ts
  packages/framework/infrastructure/tests/http/client/http-client.test.ts
  packages/framework/infrastructure/tests/http/error/api-error.class.test.ts
  packages/framework/infrastructure/tests/http/error/api-error.log-redaction.test.ts
  packages/framework/infrastructure/tests/http/error/error-mapper.test.ts
  packages/framework/infrastructure/tests/http/retry/exponential-backoff.strategy.test.ts
  packages/framework/infrastructure/tests/http/retry/retry-handler.test.ts
  packages/servers/ticktick/src/ticktick_api/http/authenticated-http-client.ts
  packages/servers/ticktick/tests/unit/ticktick_api/http/authenticated-http-client.test.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/issue/create/create-issue.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/issue/find/find-issues.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/README.md
  packages/servers/yandex-tracker/src/tracker_api/dto/issue/create-issue.dto.ts
  packages/servers/yandex-tracker/src/tracker_api/entities/README.md
  packages/servers/yandex-tracker/src/tracker_api/facade/README.md
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/board/create-board.operation.retry.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/issue/create/create-issue.operation.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/issue/find/find-issues.operation.retry.test.ts
Due: none

docs(planning): факты исполнения этапов 1-2 и исправленное перечисление
  .agentic-planning/plan_mcp_2026_modernization/1.1_defects_sequential.md
  .agentic-planning/plan_mcp_2026_modernization/2.1_remove_lazy_sequential.md
  .agentic-planning/plan_mcp_2026_modernization/4.1_dual_era_sequential.md
  .agentic-planning/plan_mcp_2026_modernization/inventory/table1-lazy-surface-files-2026-08-14.txt
  .agentic-planning/plan_mcp_2026_modernization/inventory/table1-lazy-surface.md
Due: none

fix(validate): проверка размера корневой документации не выполнялась
  .agentic-planning/plan_mcp_2026_modernization/2.1_remove_lazy_sequential.md
  .agentic-planning/plan_mcp_2026_modernization/3.1_tool_contracts_parallel.md
  .agentic-planning/plan_mcp_2026_modernization/README.md
  scripts/validate-docs-size.ts
  scripts/validate.sh
Due: none

feat(schema): JSON Schema 2020-12 и расширенный контракт ToolDefinition
  .agentic-planning/plan_mcp_2026_modernization/3.1_tool_contracts_parallel.md
  packages/framework/core/package.json
  packages/framework/core/src/definition/detect-circular-refs.ts
  packages/framework/core/src/definition/index.ts
  packages/framework/core/src/definition/schema-to-definition.ts
  packages/framework/core/src/definition/zod-json-schema-adapter.ts
  packages/framework/core/src/tool-registry/index.ts
  packages/framework/core/src/tool-registry/tools-list-projection.ts
  packages/framework/core/src/tools/base/base-tool.ts
  packages/framework/core/src/tools/base/base.types.ts
  packages/framework/core/src/tools/base/index.ts
  packages/framework/core/tests/definition/detect-circular-refs.test.ts
  packages/framework/core/tests/definition/zod-json-schema-adapter.test.ts
  packages/framework/core/tests/tool-registry/tools-list-projection.test.ts
  packages/servers/ticktick/manifest.json
  packages/servers/ticktick/package.json
  packages/servers/ticktick/src/server.ts
  packages/servers/ticktick/tests/smoke/tool-schema-contract.smoke.test.ts
  packages/servers/yandex-tracker/manifest.json
  packages/servers/yandex-tracker/package.json
  packages/servers/yandex-tracker/src/server.ts
  packages/servers/yandex-tracker/tests/mcp/tool-metadata.test.ts
  packages/servers/yandex-tracker/tests/smoke/tool-schema-contract.smoke.test.ts
  packages/servers/yandex-wiki/manifest.json
  packages/servers/yandex-wiki/package.json
  packages/servers/yandex-wiki/src/server.ts
  packages/servers/yandex-wiki/tests/smoke/tool-schema-contract.smoke.test.ts
Due: sort-package-json

feat(logging): allow-list безопасных для лога параметров инструмента
  .agentic-planning/plan_mcp_2026_modernization/3.1_tool_contracts_parallel.md
  packages/framework/core/src/tool-registry/tool-registry.ts
  packages/framework/core/src/tools/base/tool-metadata.ts
  packages/framework/core/tests/tool-registry.redaction-allowlist.test.ts
Due: none

feat(mcp): пакет 4.1.A — миграция на MCP SDK v2
  package-lock.json
  packages/framework/core/package.json
  packages/servers/eslint.config.js
  packages/servers/ticktick/manifest.json
  packages/servers/ticktick/package.json
  packages/servers/ticktick/src/server.ts
  packages/servers/ticktick/tests/smoke/mcp-server-lifecycle.smoke.test.ts
  packages/servers/ticktick/tsup.config.ts
  packages/servers/tsup.config.base.ts
  packages/servers/yandex-tracker/manifest.json
  packages/servers/yandex-tracker/package.json
  packages/servers/yandex-tracker/src/server.ts
  packages/servers/yandex-tracker/tests/smoke/mcp-server-lifecycle.smoke.test.ts
  packages/servers/yandex-tracker/tsup.config.ts
  packages/servers/yandex-wiki/manifest.json
  packages/servers/yandex-wiki/package.json
  packages/servers/yandex-wiki/src/server.ts
  packages/servers/yandex-wiki/tests/smoke/mcp-server-lifecycle.smoke.test.ts
  packages/servers/yandex-wiki/tsup.config.ts
Due: sort-package-json

feat(mcp): пакет 4.1.B — общий adapter MCP-сервера
  knip.json
  package-lock.json
  packages/framework/core/README.md
  packages/framework/core/package.json
  packages/framework/core/src/index.ts
  packages/framework/core/src/mcp-server-adapter/create-mcp-server-adapter.ts
  packages/framework/core/src/mcp-server-adapter/index.ts
  packages/framework/core/src/mcp-server-adapter/normalize-tool-name.ts
  packages/framework/core/src/mcp-server-adapter/tool-call-error-response.ts
  packages/framework/core/src/mcp-server-adapter/tools-metrics.ts
  packages/framework/core/src/mcp-server-adapter/types.ts
  packages/framework/core/src/tool-registry/tool-registry.ts
  packages/framework/core/tests/tool-access-policy.test.ts
  packages/servers/ticktick/manifest.json
  packages/servers/ticktick/package.json
  packages/servers/ticktick/src/server.ts
  packages/servers/ticktick/src/server/handlers.ts
  packages/servers/ticktick/tsup.config.ts
  packages/servers/tsup.config.base.ts
  packages/servers/yandex-tracker/manifest.json
  packages/servers/yandex-tracker/package.json
  packages/servers/yandex-tracker/src/server.ts
  packages/servers/yandex-tracker/src/server/handlers.ts
  packages/servers/yandex-tracker/tests/composition-root/tool-access-policy.test.ts
  packages/servers/yandex-tracker/tsup.config.ts
  packages/servers/yandex-wiki/manifest.json
  packages/servers/yandex-wiki/package.json
  packages/servers/yandex-wiki/src/server.ts
  packages/servers/yandex-wiki/src/server/handlers.ts
  packages/servers/yandex-wiki/tsup.config.ts
Due: sort-package-json

feat(mcp): пакет 4.1.C — обе протокольные эпохи (2025 и 2026-07-28)
  packages/framework/core/README.md
  packages/framework/core/src/mcp-server-adapter/create-mcp-server-adapter.ts
  packages/servers/ticktick/manifest.json
  packages/servers/yandex-tracker/manifest.json
  packages/servers/yandex-wiki/manifest.json
Due: none

test(mcp): пакет 4.1.D — raw-wire тесты обеих протокольных эпох
  packages/servers/ticktick/manifest.json
  packages/servers/ticktick/package.json
  packages/servers/ticktick/scripts/raw-wire-test.ts
  packages/servers/yandex-tracker/manifest.json
  packages/servers/yandex-tracker/package.json
  packages/servers/yandex-tracker/scripts/raw-wire-test.ts
  packages/servers/yandex-wiki/manifest.json
  packages/servers/yandex-wiki/package.json
  packages/servers/yandex-wiki/scripts/raw-wire-test.ts
  scripts/validate.sh
  turbo.json
Due: sort-package-json, prettier --write

docs(planning): факты исполнения этапов 3 и 4, заведён пакет 3.1.G
  .agentic-planning/plan_mcp_2026_modernization/3.1_tool_contracts_parallel.md
  .agentic-planning/plan_mcp_2026_modernization/4.1_dual_era_sequential.md
  .agentic-planning/plan_mcp_2026_modernization/README.md
Due: none

fix(wiki): дефекты инструментов и защита YFM-разметки от молчаливой порчи
  .agentic-planning/plan_mcp_2026_modernization/README.md
  packages/servers/ticktick/manifest.json
  packages/servers/yandex-tracker/manifest.json
  packages/servers/yandex-wiki/manifest.json
  packages/servers/yandex-wiki/src/tools/api/grids/cells/update/update-cells.schema.ts
  packages/servers/yandex-wiki/src/tools/api/grids/delete/delete-grid.metadata.ts
  packages/servers/yandex-wiki/src/tools/api/grids/delete/delete-grid.schema.ts
  packages/servers/yandex-wiki/src/tools/api/grids/delete/delete-grid.tool.ts
  packages/servers/yandex-wiki/src/tools/api/pages/append/append-content.schema.ts
  packages/servers/yandex-wiki/src/tools/api/pages/create/create-page.schema.ts
  packages/servers/yandex-wiki/src/tools/api/pages/delete/delete-page.metadata.ts
  packages/servers/yandex-wiki/src/tools/api/pages/delete/delete-page.schema.ts
  packages/servers/yandex-wiki/src/tools/api/pages/delete/delete-page.tool.ts
  packages/servers/yandex-wiki/src/tools/api/pages/update/update-page.metadata.ts
  packages/servers/yandex-wiki/src/tools/api/pages/update/update-page.schema.ts
  packages/servers/yandex-wiki/src/tools/api/pages/update/update-page.tool.ts
  packages/servers/yandex-wiki/src/tools/shared/yfm-markers.ts
  packages/servers/yandex-wiki/src/wiki_api/api_operations/grid/delete-grid.operation.ts
  packages/servers/yandex-wiki/src/wiki_api/api_operations/page/create-page.operation.ts
  packages/servers/yandex-wiki/src/wiki_api/api_operations/page/delete-page.operation.ts
  packages/servers/yandex-wiki/src/wiki_api/api_operations/page/index.ts
  packages/servers/yandex-wiki/src/wiki_api/dto/grid/cells.dto.ts
  packages/servers/yandex-wiki/src/wiki_api/facade/services/page.service.ts
  packages/servers/yandex-wiki/src/wiki_api/facade/yandex-wiki.facade.ts
  packages/servers/yandex-wiki/tests/helpers/grid.fixture.ts
  packages/servers/yandex-wiki/tests/helpers/index.ts
  packages/servers/yandex-wiki/tests/helpers/zod-value-generator.ts
  packages/servers/yandex-wiki/tests/smoke/schema-operation-reachability.smoke.test.ts
  packages/servers/yandex-wiki/tests/unit/tools/api/grids/delete-grid.tool.test.ts
  packages/servers/yandex-wiki/tests/unit/tools/api/grids/update-cells.tool.test.ts
  packages/servers/yandex-wiki/tests/unit/tools/api/pages/append-content.tool.test.ts
  packages/servers/yandex-wiki/tests/unit/tools/api/pages/delete-page.tool.test.ts
  packages/servers/yandex-wiki/tests/unit/tools/api/pages/update-page.tool.test.ts
  packages/servers/yandex-wiki/tests/unit/wiki_api/api_operations/page/create-page.operation.test.ts
  packages/servers/yandex-wiki/tests/unit/wiki_api/api_operations/page/delete-page.operation.test.ts
  packages/servers/yandex-wiki/tests/unit/wiki_api/facade/services/page.service.test.ts
  packages/servers/yandex-wiki/tests/unit/wiki_api/facade/yandex-wiki.facade.test.ts
Due: none

feat(resources): механизм ResourceLink и общая проверка достижимости
  .agentic-planning/plan_mcp_2026_modernization/7.1_api_defects_parallel.md
  packages/framework/core/src/resources/index.ts
  packages/framework/core/src/resources/resource-link-content.ts
  packages/framework/core/src/testing/schema-reachability/find-unreachable-leaves.ts
  packages/framework/core/src/testing/schema-reachability/generate-reachability-sample.ts
  packages/framework/core/src/testing/schema-reachability/http-client-call-recorder.ts
  packages/framework/core/src/testing/schema-reachability/index.ts
  packages/framework/core/src/tools/base/base-tool.ts
  packages/framework/core/src/tools/common/collection-result/collection-output-schema.ts
  packages/framework/core/src/tools/common/collection-result/collection-response-mode.ts
  packages/framework/core/src/tools/common/collection-result/index.ts
  packages/framework/core/src/tools/common/index.ts
  packages/framework/core/tests/testing/schema-reachability/find-unreachable-leaves.test.ts
  packages/framework/core/tests/testing/schema-reachability/generate-reachability-sample.test.ts
  packages/framework/core/tests/testing/schema-reachability/http-client-call-recorder.test.ts
  packages/framework/core/tests/tools/common/collection-result/collection-output-schema.test.ts
  packages/framework/core/tests/tools/common/collection-result/collection-response-mode.test.ts
  packages/framework/core/tests/tools/common/collection-result/format-collection-result.test.ts
  packages/framework/infrastructure/src/types.ts
  packages/servers/ticktick/manifest.json
  packages/servers/ticktick/tests/smoke/tool-params-reach-api.smoke.test.ts
  packages/servers/yandex-tracker/manifest.json
  packages/servers/yandex-tracker/tests/helpers/schema-sample-generator.ts
  packages/servers/yandex-tracker/tests/smoke/tool-params-reach-api.smoke.test.ts
  packages/servers/yandex-wiki/manifest.json
  packages/servers/yandex-wiki/tests/helpers/index.ts
  packages/servers/yandex-wiki/tests/helpers/zod-value-generator.ts
  packages/servers/yandex-wiki/tests/smoke/schema-operation-reachability.smoke.test.ts
Due: none

feat(prompts): слэш-команды на трёх серверах
  .agentic-planning/plan_mcp_2026_modernization/7.2_api_coverage_parallel.md
  packages/servers/ticktick/manifest.json
  packages/servers/ticktick/package.json
  packages/servers/ticktick/src/composition-root/container.ts
  packages/servers/ticktick/src/composition-root/types.ts
  packages/servers/ticktick/src/prompts/index.ts
  packages/servers/ticktick/src/prompts/ticktick-prompt.provider.ts
  packages/servers/ticktick/src/server.ts
  packages/servers/ticktick/tests/smoke/prompts.smoke.test.ts
  packages/servers/ticktick/tests/unit/prompts/ticktick-prompt.provider.test.ts
  packages/servers/yandex-tracker/manifest.json
  packages/servers/yandex-tracker/package.json
  packages/servers/yandex-tracker/src/composition-root/container.ts
  packages/servers/yandex-tracker/src/composition-root/types.ts
  packages/servers/yandex-tracker/src/prompts/daily-summary.prompt.ts
  packages/servers/yandex-tracker/src/prompts/epic-links.prompt.ts
  packages/servers/yandex-tracker/src/prompts/index.ts
  packages/servers/yandex-tracker/src/prompts/project-summary.prompt.ts
  packages/servers/yandex-tracker/src/prompts/tracker-prompt-provider.ts
  packages/servers/yandex-tracker/src/prompts/tracker-prompt.types.ts
  packages/servers/yandex-tracker/src/prompts/triage-queue.prompt.ts
  packages/servers/yandex-tracker/src/server.ts
  packages/servers/yandex-tracker/src/tools/api/issues/find/find-issues.tool.ts
  packages/servers/yandex-tracker/tests/prompts/tracker-prompt-provider.test.ts
  packages/servers/yandex-tracker/tests/prompts/tracker-prompts.wire.test.ts
  packages/servers/yandex-wiki/manifest.json
  packages/servers/yandex-wiki/package.json
  packages/servers/yandex-wiki/src/composition-root/container.ts
  packages/servers/yandex-wiki/src/composition-root/types.ts
  packages/servers/yandex-wiki/src/prompts/index.ts
  packages/servers/yandex-wiki/src/prompts/wiki-prompt.provider.ts
  packages/servers/yandex-wiki/src/server.ts
  packages/servers/yandex-wiki/tests/unit/composition-root/prompt-registry.test.ts
  packages/servers/yandex-wiki/tests/unit/prompts/wiki-prompt.provider.test.ts
Due: sort-package-json

Path conditions:
  sort-package-json: any of: **/package.json
  prettier --write: any of: packages/servers/yandex-tracker/scripts/**/*.ts
