Repository FractalizeR/mcp_servers: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, prettier --write

.lintstagedrc.json:

{
  "**/package.json": [
    "sort-package-json"
  ],
  "!(packages/servers/yandex-tracker/scripts)/**/*.ts": [
    "prettier --write",
    "eslint --fix"
  ],
  "packages/servers/yandex-tracker/scripts/**/*.ts": [
    "prettier --write"
  ]
}

docs(testing): канон стратегии тестирования MCP-инструментов (#401)
  .agentic-planning/plan_functional_testing_tracker_tools/0_inventory_tools.md
  .agentic-planning/plan_functional_testing_tracker_tools/1.1_baseline_harness_sequential.md
  .agentic-planning/plan_functional_testing_tracker_tools/2.1_contract_invariants_parallel.md
  .agentic-planning/plan_functional_testing_tracker_tools/2.2_crosscutting_behaviors_parallel.md
  .agentic-planning/plan_functional_testing_tracker_tools/2.3_integration_gaps_parallel.md
  .agentic-planning/plan_functional_testing_tracker_tools/3.1_live_e2e_acceptance_sequential.md
  .agentic-planning/plan_functional_testing_tracker_tools/4.1_llm_usability_parallel.md
  .agentic-planning/plan_functional_testing_tracker_tools/README.md
  DOCS.md
  packages/servers/README.md
  packages/servers/TESTING_STRATEGY.md
  packages/servers/yandex-tracker/tests/README.md
  packages/servers/yandex-tracker/tests/TESTING_STRATEGY.md
Due: none

chore: убрать остатки TickTick из кодовой базы
  packages/framework/core/src/definition/output-schema.ts
  packages/framework/core/src/mcp-server-adapter/create-mcp-server-adapter.ts
  packages/framework/core/src/mcp-server-adapter/server-icons.ts
  packages/framework/core/src/mcp-server-adapter/types.ts
  packages/framework/core/src/prompts/prompt-provider.ts
  packages/framework/core/src/resources/pagination/opaque-cursor.ts
  packages/framework/core/src/resources/resource-link-content.ts
  packages/framework/core/src/resources/resource-provider.ts
  packages/framework/core/src/testing/schema-reachability/find-unreachable-leaves.ts
  packages/framework/core/src/testing/schema-reachability/generate-reachability-sample.ts
  packages/framework/core/src/testing/schema-reachability/http-client-call-recorder.ts
  packages/framework/core/src/tool-registry/tool-registry.ts
  packages/framework/core/src/tool-registry/tools-list-projection.ts
  packages/framework/core/src/tools/raw/raw-api.types.ts
  packages/framework/core/src/utils/get-package-version.ts
  packages/framework/core/tests/testing/schema-reachability/find-unreachable-leaves.test.ts
  packages/framework/core/tests/testing/schema-reachability/generate-reachability-sample.test.ts
  packages/framework/core/tests/tools/raw/raw-api.schema.test.ts
  packages/framework/infrastructure/src/http/error/error-mapper.ts
  packages/framework/infrastructure/tests/http/error/error-mapper.test.ts
  packages/servers/TESTING_STRATEGY.md
  packages/servers/scripts/mcp-wire-harness/smoke-test.ts
  packages/servers/yandex-tracker/src/common/schemas/output.schema.ts
  packages/servers/yandex-tracker/tests/smoke/tool-params-reach-api.smoke.test.ts
  packages/servers/yandex-wiki/tests/smoke/schema-operation-reachability.smoke.test.ts
Due: none

chore: убрать остатки TickTick из кодовой базы (#402)
  packages/framework/core/src/definition/output-schema.ts
  packages/framework/core/src/mcp-server-adapter/create-mcp-server-adapter.ts
  packages/framework/core/src/mcp-server-adapter/server-icons.ts
  packages/framework/core/src/mcp-server-adapter/types.ts
  packages/framework/core/src/prompts/prompt-provider.ts
  packages/framework/core/src/resources/pagination/opaque-cursor.ts
  packages/framework/core/src/resources/resource-link-content.ts
  packages/framework/core/src/resources/resource-provider.ts
  packages/framework/core/src/testing/schema-reachability/find-unreachable-leaves.ts
  packages/framework/core/src/testing/schema-reachability/generate-reachability-sample.ts
  packages/framework/core/src/testing/schema-reachability/http-client-call-recorder.ts
  packages/framework/core/src/tool-registry/tool-registry.ts
  packages/framework/core/src/tool-registry/tools-list-projection.ts
  packages/framework/core/src/tools/raw/raw-api.types.ts
  packages/framework/core/src/utils/get-package-version.ts
  packages/framework/core/tests/testing/schema-reachability/find-unreachable-leaves.test.ts
  packages/framework/core/tests/testing/schema-reachability/generate-reachability-sample.test.ts
  packages/framework/core/tests/tools/raw/raw-api.schema.test.ts
  packages/framework/infrastructure/src/http/error/error-mapper.ts
  packages/framework/infrastructure/tests/http/error/error-mapper.test.ts
  packages/servers/TESTING_STRATEGY.md
  packages/servers/scripts/mcp-wire-harness/smoke-test.ts
  packages/servers/yandex-tracker/src/common/schemas/output.schema.ts
  packages/servers/yandex-tracker/tests/smoke/tool-params-reach-api.smoke.test.ts
  packages/servers/yandex-wiki/tests/smoke/schema-operation-reachability.smoke.test.ts
Due: none

feat(core)!: канал предупреждений ToolWarning и отчёт детектора полей
  packages/framework/core/src/definition/index.ts
  packages/framework/core/src/definition/output-schema.ts
  packages/framework/core/src/definition/tool-warning.ts
  packages/framework/core/src/tools/base/base-tool.ts
  packages/framework/core/src/tools/base/unrecognized-params.ts
  packages/framework/core/src/tools/raw/base-raw-api-request.tool.ts
  packages/framework/core/src/utils/batch-result-processor.ts
  packages/framework/core/src/utils/index.ts
  packages/framework/core/src/utils/response-field-filter.ts
  packages/framework/core/tests/tools/base/base-tool.test.ts
  packages/framework/core/tests/utils/response-field-filter.test.ts
Due: none

refactor(wiki)!: убрать fieldsReturned из ответов
  packages/servers/yandex-wiki/src/tools/api/pages/get-by-id/get-page-by-id.schema.ts
  packages/servers/yandex-wiki/src/tools/api/pages/get-by-id/get-page-by-id.tool.ts
  packages/servers/yandex-wiki/src/tools/api/pages/get/get-page.schema.ts
  packages/servers/yandex-wiki/src/tools/api/pages/get/get-page.tool.ts
  packages/servers/yandex-wiki/src/tools/api/raw/raw-api-request.schema.ts
  packages/servers/yandex-wiki/tests/unit/tools/api/raw/raw-api-request.tool.test.ts
Due: none

docs: канон предупреждений, уроки прогона и храповик контракта
  .agentic-planning/plan_functional_testing_tracker_tools/3.1_LIVE_RUN_REPORT_2026-08-20.md
  .agentic-planning/plan_functional_testing_tracker_tools/3.2_LIVE_REVERIFY_REPORT_2026-08-20.md
  .agentic-planning/plan_functional_testing_tracker_tools/CONTRACT_UNIFICATION_DECISIONS.md
  ARCHITECTURE.md
  CHANGELOG.md
  CLAUDE.md
  package.json
  packages/servers/TESTING_STRATEGY.md
  packages/servers/yandex-tracker/CLAUDE.md
  scripts/check-tool-contract-ratchet.ts
  scripts/validate.sh
Due: sort-package-json

chore(release): 3.0.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
  packages/framework/cli/package.json
  packages/framework/core/package.json
  packages/framework/infrastructure/package.json
  packages/servers/yandex-tracker/package.json
  packages/servers/yandex-wiki/package.json
  packages/wrappers/mcp-server-yandex-tracker/package.json
  packages/wrappers/mcp-server-yandex-wiki/package.json
Due: sort-package-json

Notes added by 'git notes add'
  3e8604d87c39f95dec252f4282bc16d616b15d90
Due: none

docs(planning): план доказательного покрытия инструментов Трекера
  .agentic-planning/plan_functional_testing_tracker_tools/0_inventory_tools.md
  .agentic-planning/plan_functional_testing_tracker_tools/1.1_baseline_harness_sequential.md
  .agentic-planning/plan_functional_testing_tracker_tools/2.1_contract_invariants_parallel.md
  .agentic-planning/plan_functional_testing_tracker_tools/2.2_crosscutting_behaviors_parallel.md
  .agentic-planning/plan_functional_testing_tracker_tools/2.3_integration_gaps_parallel.md
  .agentic-planning/plan_functional_testing_tracker_tools/3.1_live_e2e_acceptance_sequential.md
  .agentic-planning/plan_functional_testing_tracker_tools/4.1_llm_usability_parallel.md
  .agentic-planning/plan_functional_testing_tracker_tools/README.md
  .agentic-planning/plan_tracker_test_coverage/1.1_scope_guard_sequential.md
  .agentic-planning/plan_tracker_test_coverage/2.1_coverage_matrix_parallel.md
  .agentic-planning/plan_tracker_test_coverage/3.1_LIVE_RUN_REPORT_2026-08-20.md
  .agentic-planning/plan_tracker_test_coverage/3.1_live_acceptance_sequential.md
  .agentic-planning/plan_tracker_test_coverage/3.2_LIVE_REVERIFY_REPORT_2026-08-20.md
  .agentic-planning/plan_tracker_test_coverage/CONTRACT_UNIFICATION_DECISIONS.md
  .agentic-planning/plan_tracker_test_coverage/README.md
Due: none

docs(planning): план доказательного покрытия инструментов Трекера (#404)
  .agentic-planning/plan_functional_testing_tracker_tools/0_inventory_tools.md
  .agentic-planning/plan_functional_testing_tracker_tools/1.1_baseline_harness_sequential.md
  .agentic-planning/plan_functional_testing_tracker_tools/2.1_contract_invariants_parallel.md
  .agentic-planning/plan_functional_testing_tracker_tools/2.2_crosscutting_behaviors_parallel.md
  .agentic-planning/plan_functional_testing_tracker_tools/2.3_integration_gaps_parallel.md
  .agentic-planning/plan_functional_testing_tracker_tools/3.1_live_e2e_acceptance_sequential.md
  .agentic-planning/plan_functional_testing_tracker_tools/4.1_llm_usability_parallel.md
  .agentic-planning/plan_functional_testing_tracker_tools/README.md
  .agentic-planning/plan_tracker_test_coverage/1.1_scope_guard_sequential.md
  .agentic-planning/plan_tracker_test_coverage/2.1_coverage_matrix_parallel.md
  .agentic-planning/plan_tracker_test_coverage/3.1_LIVE_RUN_REPORT_2026-08-20.md
  .agentic-planning/plan_tracker_test_coverage/3.1_live_acceptance_sequential.md
  .agentic-planning/plan_tracker_test_coverage/3.2_LIVE_REVERIFY_REPORT_2026-08-20.md
  .agentic-planning/plan_tracker_test_coverage/CONTRACT_UNIFICATION_DECISIONS.md
  .agentic-planning/plan_tracker_test_coverage/README.md
Due: none

feat(live-scope): машинная защита области действия живых прогонов
  .agentic-planning/plan_functional_testing_tracker_tools/0_outgoing_requests.md
  .agentic-planning/plan_functional_testing_tracker_tools/1.1_impl_scope_guard.md
  packages/framework/infrastructure/src/http/client/axios-http-client.ts
  packages/framework/infrastructure/src/http/client/http-config.interface.ts
  packages/framework/infrastructure/src/http/client/http-traffic-guard.interface.ts
  packages/framework/infrastructure/src/http/client/index.ts
  packages/framework/infrastructure/src/http/error/index.ts
  packages/framework/infrastructure/src/http/error/scope-violation.error.ts
  packages/framework/infrastructure/src/http/index.ts
  packages/framework/infrastructure/src/http/retry/retry-handler.ts
  packages/framework/infrastructure/tests/http/client/traffic-guard.test.ts
  packages/servers/yandex-tracker/package.json
  packages/servers/yandex-tracker/scripts/enumerate-outgoing-requests.ts
  packages/servers/yandex-tracker/src/composition-root/container.ts
  packages/servers/yandex-tracker/src/live_scope/index.ts
  packages/servers/yandex-tracker/src/live_scope/live-scope.config.ts
  packages/servers/yandex-tracker/src/live_scope/live-scope.guard.ts
  packages/servers/yandex-tracker/src/live_scope/run-journal.ts
  packages/servers/yandex-tracker/src/live_scope/scope-rules.ts
  packages/servers/yandex-tracker/tests/live_scope/guard-in-container.test.ts
  packages/servers/yandex-tracker/tests/live_scope/known-mutating-requests.ts
  packages/servers/yandex-tracker/tests/live_scope/live-scope.guard.test.ts
  packages/servers/yandex-tracker/tests/live_scope/scope-rules.test.ts
Due: sort-package-json, prettier --write

feat(live-scope): двоякий идентификатор задачи и реестр исключений
  .agentic-planning/plan_functional_testing_tracker_tools/1.1_impl_scope_guard.md
  .agentic-planning/plan_tracker_test_coverage/0_outgoing_requests.md
  .agentic-planning/plan_tracker_test_coverage/1.1_scope_guard_sequential.md
  packages/servers/yandex-tracker/package.json
  packages/servers/yandex-tracker/src/live_scope/live-scope.guard.ts
  packages/servers/yandex-tracker/src/live_scope/scope-rules.ts
  packages/servers/yandex-tracker/tests/TESTING_STRATEGY.md
  packages/servers/yandex-tracker/tests/live_scope/guard-in-container.test.ts
  packages/servers/yandex-tracker/tests/live_scope/live-scope.guard.test.ts
Due: sort-package-json

fix(live-scope): закрыть находки ревью в рубеже области действия
  packages/framework/infrastructure/src/http/client/axios-http-client.ts
  packages/framework/infrastructure/src/http/client/http-traffic-guard.interface.ts
  packages/servers/yandex-tracker/src/live_scope/README.md
  packages/servers/yandex-tracker/src/live_scope/live-scope.config.ts
  packages/servers/yandex-tracker/src/live_scope/live-scope.guard.ts
  packages/servers/yandex-tracker/src/live_scope/request-path.ts
  packages/servers/yandex-tracker/src/live_scope/run-journal.ts
  packages/servers/yandex-tracker/src/live_scope/scope-rules.ts
  packages/servers/yandex-tracker/tests/TESTING_STRATEGY.md
  packages/servers/yandex-tracker/tests/live_scope/guard-in-container.test.ts
  packages/servers/yandex-tracker/tests/live_scope/known-mutating-requests.ts
  packages/servers/yandex-tracker/tests/live_scope/live-scope.guard.test.ts
  packages/servers/yandex-tracker/tests/live_scope/scope-rules.test.ts
Due: none

feat(live-scope): пишущий прогон обязан объявить область действия
  packages/framework/dev-client/src/cli/execute-calls.ts
  packages/framework/dev-client/src/cli/resolve-launch.ts
  packages/framework/dev-client/src/cli/session-context.ts
  packages/framework/dev-client/src/launch/index.ts
  packages/framework/dev-client/src/launch/write-declaration.ts
  packages/framework/dev-client/tests/unit/launch/write-declaration.test.ts
  packages/servers/yandex-tracker/src/live_scope/README.md
  packages/servers/yandex-tracker/src/live_scope/live-scope.config.ts
  packages/servers/yandex-tracker/src/live_scope/live-scope.guard.ts
  packages/servers/yandex-tracker/src/live_scope/scope-rules.ts
  packages/servers/yandex-tracker/tests/TESTING_STRATEGY.md
  packages/servers/yandex-tracker/tests/live_scope/live-scope.guard.test.ts
Due: none

docs(live-scope): записать проверенные и отклонённые гипотезы обхода
  packages/servers/yandex-tracker/tests/TESTING_STRATEGY.md
Due: none

feat(live-scope): машинная защита области действия живых прогонов (#405)
  .agentic-planning/plan_tracker_test_coverage/0_outgoing_requests.md
  .agentic-planning/plan_tracker_test_coverage/1.1_scope_guard_sequential.md
  packages/framework/dev-client/src/cli/execute-calls.ts
  packages/framework/dev-client/src/cli/resolve-launch.ts
  packages/framework/dev-client/src/cli/session-context.ts
  packages/framework/dev-client/src/launch/index.ts
  packages/framework/dev-client/src/launch/write-declaration.ts
  packages/framework/dev-client/tests/unit/launch/write-declaration.test.ts
  packages/framework/infrastructure/src/http/client/axios-http-client.ts
  packages/framework/infrastructure/src/http/client/http-config.interface.ts
  packages/framework/infrastructure/src/http/client/http-traffic-guard.interface.ts
  packages/framework/infrastructure/src/http/client/index.ts
  packages/framework/infrastructure/src/http/error/index.ts
  packages/framework/infrastructure/src/http/error/scope-violation.error.ts
  packages/framework/infrastructure/src/http/index.ts
  packages/framework/infrastructure/src/http/retry/retry-handler.ts
  packages/framework/infrastructure/tests/http/client/traffic-guard.test.ts
  packages/servers/yandex-tracker/package.json
  packages/servers/yandex-tracker/scripts/enumerate-outgoing-requests.ts
  packages/servers/yandex-tracker/src/composition-root/container.ts
  packages/servers/yandex-tracker/src/live_scope/README.md
  packages/servers/yandex-tracker/src/live_scope/index.ts
  packages/servers/yandex-tracker/src/live_scope/live-scope.config.ts
  packages/servers/yandex-tracker/src/live_scope/live-scope.guard.ts
  packages/servers/yandex-tracker/src/live_scope/request-path.ts
  packages/servers/yandex-tracker/src/live_scope/run-journal.ts
  packages/servers/yandex-tracker/src/live_scope/scope-rules.ts
  packages/servers/yandex-tracker/tests/TESTING_STRATEGY.md
  packages/servers/yandex-tracker/tests/live_scope/guard-in-container.test.ts
  packages/servers/yandex-tracker/tests/live_scope/known-mutating-requests.ts
  packages/servers/yandex-tracker/tests/live_scope/live-scope.guard.test.ts
  packages/servers/yandex-tracker/tests/live_scope/scope-rules.test.ts
Due: sort-package-json, prettier --write

chore(release): 3.1.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
  packages/framework/cli/package.json
  packages/framework/core/package.json
  packages/framework/infrastructure/package.json
  packages/servers/yandex-tracker/package.json
  packages/servers/yandex-wiki/package.json
  packages/wrappers/mcp-server-yandex-tracker/package.json
  packages/wrappers/mcp-server-yandex-wiki/package.json
Due: sort-package-json

Notes added by 'git notes add'
  766e88829b8d029b2d379d5eb0ec453e84ea3940
Due: none

docs(planning): декомпозиция этапа 2.1 и инвентарь покрытия инструментов
  .agentic-planning/plan_tracker_test_coverage/2.1.1_matrix_and_harness_sequential.md
  .agentic-planning/plan_tracker_test_coverage/2.1.2_category_packages_parallel.md
  .agentic-planning/plan_tracker_test_coverage/README.md
  .agentic-planning/plan_tracker_test_coverage/inventory/tools-coverage-2026-08-20.md
Due: none

docs(planning): декомпозиция этапа 2.1 плана покрытия инструментов (#406)
  .agentic-planning/plan_tracker_test_coverage/2.1.1_matrix_and_harness_sequential.md
  .agentic-planning/plan_tracker_test_coverage/2.1.2_category_packages_parallel.md
  .agentic-planning/plan_tracker_test_coverage/README.md
  .agentic-planning/plan_tracker_test_coverage/inventory/tools-coverage-2026-08-20.md
Due: none

feat(tests): фабрика интеграционного теста и матрица покрытия инструментов
  .agentic-planning/plan_tracker_test_coverage/2.1.1_matrix_and_harness_sequential.md
  .agentic-planning/plan_tracker_test_coverage/2.1.2_category_packages_parallel.md
  .agentic-planning/plan_tracker_test_coverage/README.md
  packages/servers/yandex-tracker/package.json
  packages/servers/yandex-tracker/scripts/build-coverage-matrix.ts
  packages/servers/yandex-tracker/tests/COVERAGE_MATRIX.md
  packages/servers/yandex-tracker/tests/README.md
  packages/servers/yandex-tracker/tests/TESTING_STRATEGY.md
  packages/servers/yandex-tracker/tests/coverage-exceptions/index.test.ts
  packages/servers/yandex-tracker/tests/coverage-exceptions/index.ts
  packages/servers/yandex-tracker/tests/coverage-exceptions/legacy-mock-tests.test.ts
  packages/servers/yandex-tracker/tests/coverage-exceptions/legacy-mock-tests.ts
  packages/servers/yandex-tracker/tests/coverage-exceptions/live-exempt-categories.ts
  packages/servers/yandex-tracker/tests/coverage-exceptions/types.ts
  packages/servers/yandex-tracker/tests/integration/helpers/api-expectation.test.ts
  packages/servers/yandex-tracker/tests/integration/helpers/api-expectation.ts
  packages/servers/yandex-tracker/tests/integration/helpers/tool-integration-suite.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/boards/create-board.tool.integration.test.ts
  turbo.json
Due: sort-package-json, prettier --write

feat(tests): фабрика интеграционного теста и матрица покрытия инструментов (#407)
  .agentic-planning/plan_tracker_test_coverage/2.1.1_matrix_and_harness_sequential.md
  .agentic-planning/plan_tracker_test_coverage/2.1.2_category_packages_parallel.md
  .agentic-planning/plan_tracker_test_coverage/README.md
  packages/servers/yandex-tracker/package.json
  packages/servers/yandex-tracker/scripts/build-coverage-matrix.ts
  packages/servers/yandex-tracker/tests/COVERAGE_MATRIX.md
  packages/servers/yandex-tracker/tests/README.md
  packages/servers/yandex-tracker/tests/TESTING_STRATEGY.md
  packages/servers/yandex-tracker/tests/coverage-exceptions/index.test.ts
  packages/servers/yandex-tracker/tests/coverage-exceptions/index.ts
  packages/servers/yandex-tracker/tests/coverage-exceptions/legacy-mock-tests.test.ts
  packages/servers/yandex-tracker/tests/coverage-exceptions/legacy-mock-tests.ts
  packages/servers/yandex-tracker/tests/coverage-exceptions/live-exempt-categories.ts
  packages/servers/yandex-tracker/tests/coverage-exceptions/types.ts
  packages/servers/yandex-tracker/tests/integration/helpers/api-expectation.test.ts
  packages/servers/yandex-tracker/tests/integration/helpers/api-expectation.ts
  packages/servers/yandex-tracker/tests/integration/helpers/tool-integration-suite.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/boards/create-board.tool.integration.test.ts
  turbo.json
Due: sort-package-json, prettier --write

chore(release): 3.2.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
  packages/framework/cli/package.json
  packages/framework/core/package.json
  packages/framework/infrastructure/package.json
  packages/servers/yandex-tracker/package.json
  packages/servers/yandex-wiki/package.json
  packages/wrappers/mcp-server-yandex-tracker/package.json
  packages/wrappers/mcp-server-yandex-wiki/package.json
Due: sort-package-json

Notes added by 'git notes add'
  be97d1dd0ef9b04fc3bd60d245ab5939fcf20bfc
Due: none

test(smoke): убрать стоимость импорта сервера из-под testTimeout
  packages/servers/yandex-tracker/tests/smoke/entry-point.smoke.test.ts
  packages/servers/yandex-tracker/vitest.config.ts
  packages/servers/yandex-wiki/tests/smoke/entry-point.smoke.test.ts
Due: none

test(smoke): убрать стоимость импорта сервера из-под testTimeout (#408)
  packages/servers/yandex-tracker/tests/smoke/entry-point.smoke.test.ts
  packages/servers/yandex-tracker/vitest.config.ts
  packages/servers/yandex-wiki/tests/smoke/entry-point.smoke.test.ts
Due: none

test(coverage): интеграционные тесты 35 инструментов волны 2.1.2
  packages/servers/yandex-tracker/tests/helpers/board-columns.fixture.ts
  packages/servers/yandex-tracker/tests/helpers/filters.fixture.ts
  packages/servers/yandex-tracker/tests/helpers/global-fields.fixture.ts
  packages/servers/yandex-tracker/tests/integration/helpers/api-expectation.test.ts
  packages/servers/yandex-tracker/tests/integration/helpers/api-expectation.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/boards/create-board-column.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/boards/delete-board-column.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/boards/delete-board.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/boards/get-board-columns.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/boards/get-board.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/boards/get-boards.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/boards/update-board-column.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/boards/update-board.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/entities/add-goal-key-result.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/entities/clear-goal-key-results.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/entities/create-entity.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/entities/delete-entity.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/entities/find-entities.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/entities/get-entity.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/entities/get-goal-key-results.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/entities/set-goal-key-results.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/entities/update-entity.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/fields/create-global-field.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/fields/delete-global-field.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/fields/get-global-field.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/fields/get-global-fields.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/fields/update-global-field.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/filters/create-filter.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/filters/get-filters.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/filters/update-filter.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/projects/create-project.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/projects/delete-project.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/projects/get-project.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/projects/get-projects.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/projects/update-project.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/sprints/create-sprint.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/sprints/get-sprint.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/sprints/get-sprints.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/sprints/manage-sprint-lifecycle.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/sprints/update-sprint.tool.integration.test.ts
Due: none

docs(tracker): разрыв версий API как системный факт, оговорка по С-6
  .agentic-planning/plan_tracker_test_coverage/2.1.2_category_packages_parallel.md
  packages/servers/yandex-tracker/CLAUDE.md
  packages/servers/yandex-tracker/scripts/build-coverage-matrix.ts
  packages/servers/yandex-tracker/tests/COVERAGE_MATRIX.md
  packages/servers/yandex-tracker/tests/TESTING_STRATEGY.md
  packages/servers/yandex-tracker/tests/coverage-exceptions/live-exempt-categories.ts
Due: prettier --write

docs(planning): расщепление С-6 отдельным этапом, отчёт боевого опыта версий
  .agentic-planning/plan_tracker_test_coverage/2.1.2_category_packages_parallel.md
  .agentic-planning/plan_tracker_test_coverage/2.1.3_c6_split_sequential.md
  .agentic-planning/plan_tracker_test_coverage/README.md
  .agentic-planning/plan_tracker_test_coverage/inventory/live-version-probe-2026-08-23.md
Due: none

docs: целевая версия API — v3, план миграции этапом 4.1
  .agentic-planning/plan_tracker_test_coverage/4.1_v3_migration_parallel.md
  .agentic-planning/plan_tracker_test_coverage/README.md
  packages/servers/yandex-tracker/CLAUDE.md
  packages/servers/yandex-tracker/src/tracker_api/api_operations/README.md
  packages/servers/yandex-tracker/tests/TESTING_STRATEGY.md
Due: none

feat(live-scope)!: допуск сущностей организации по владению прогоном
  packages/servers/yandex-tracker/src/live_scope/README.md
  packages/servers/yandex-tracker/src/live_scope/custom-fields-in-body.ts
  packages/servers/yandex-tracker/src/live_scope/live-scope.config.ts
  packages/servers/yandex-tracker/src/live_scope/live-scope.guard.ts
  packages/servers/yandex-tracker/src/live_scope/organization-rules.ts
  packages/servers/yandex-tracker/src/live_scope/people-in-body.ts
  packages/servers/yandex-tracker/src/live_scope/request-path.ts
  packages/servers/yandex-tracker/src/live_scope/rule-matching.ts
  packages/servers/yandex-tracker/src/live_scope/run-journal.ts
  packages/servers/yandex-tracker/src/live_scope/sandbox-queue-rules.ts
  packages/servers/yandex-tracker/src/live_scope/scope-rules.ts
  packages/servers/yandex-tracker/tests/TESTING_STRATEGY.md
  packages/servers/yandex-tracker/tests/live_scope/body-inspection.test.ts
  packages/servers/yandex-tracker/tests/live_scope/guard-in-container.test.ts
  packages/servers/yandex-tracker/tests/live_scope/known-mutating-requests.ts
  packages/servers/yandex-tracker/tests/live_scope/live-scope.guard.test.ts
  packages/servers/yandex-tracker/tests/live_scope/organization-rules.test.ts
  packages/servers/yandex-tracker/tests/live_scope/run-fixture.ts
  packages/servers/yandex-tracker/tests/live_scope/scope-rules.test.ts
Due: none

docs(planning): этапы 5.1 и 5.2 — рубеж организации и живая приёмка
  .agentic-planning/plan_tracker_test_coverage/5.1_org_scope_guard_sequential.md
  .agentic-planning/plan_tracker_test_coverage/5.2_org_live_acceptance_sequential.md
  .agentic-planning/plan_tracker_test_coverage/README.md
  .agentic-planning/plan_tracker_test_coverage/inventory/mutating-tools-2026-08-25.md
Due: none

docs(tracker): отчёт живого прогона и решение не заводить удаление
  .agentic-planning/plan_tracker_test_coverage/5.2_LIVE_RUN_REPORT_2026-08-25.md
  packages/servers/yandex-tracker/CLAUDE.md
Due: none

fix(tests): vite-tsconfig-paths ломал subpath imports после сборки
  packages/servers/yandex-tracker/tests/composition-root/registry-integrity.test.ts
  packages/servers/yandex-tracker/vitest.config.ts
  packages/servers/yandex-wiki/vitest.config.ts
Due: none

feat(live-scope)!: раздельные правила создания и правки под новые маршруты
  packages/servers/yandex-tracker/src/live_scope/README.md
  packages/servers/yandex-tracker/src/live_scope/live-scope.guard.ts
  packages/servers/yandex-tracker/src/live_scope/organization-rules.ts
  packages/servers/yandex-tracker/src/live_scope/rule-matching.ts
  packages/servers/yandex-tracker/src/live_scope/sandbox-queue-rules.ts
  packages/servers/yandex-tracker/tests/live_scope/body-inspection.test.ts
  packages/servers/yandex-tracker/tests/live_scope/known-mutating-requests.ts
  packages/servers/yandex-tracker/tests/live_scope/live-scope.guard.test.ts
  packages/servers/yandex-tracker/tests/live_scope/organization-rules.test.ts
  packages/servers/yandex-tracker/tests/live_scope/scope-rules.test.ts
Due: none

feat(tracker)!: создание компонента через POST /v3/components (D1)
  packages/servers/yandex-tracker/src/tools/api/components/create-component.schema.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/component/create-component.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/component/create-component.dto.ts
  packages/servers/yandex-tracker/src/tracker_api/entities/component.entity.ts
  packages/servers/yandex-tracker/src/tracker_api/facade/services/component.service.ts
  packages/servers/yandex-tracker/tests/helpers/component-dto.fixture.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/components/create/create-component.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/tools/api/components/create-component.tool.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/component/create-component.operation.test.ts
Due: none
