Repository FractalizeR/mcp_servers: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, prettier --write, eslint --fix

docs: обновить статус плана документации архитектуры
  .agentic-planning/plan_documentation_architecture_analysis/README.md
Due: none

docs: завершить шаг 3.1 плана verify_yandex_tracker_api
  .agentic-planning/plan_verify_yandex_tracker_api/0_SUMMARY.md
  .agentic-planning/plan_verify_yandex_tracker_api/3.1_fix_found_issues_parallel.md
Due: none

docs: обновить статус этапа 2.4 - GitHub Actions уже существует
  .agentic-planning/plan_project_config_improvements/2.4_missing_files_parallel.md
Due: none

feat: добавить MCP tools для Bulk Change API
  packages/servers/yandex-tracker/src/tools/api/bulk-change/index.ts
  packages/servers/yandex-tracker/src/tools/api/bulk-change/move/bulk-move-issues.definition.ts
  packages/servers/yandex-tracker/src/tools/api/bulk-change/move/bulk-move-issues.schema.ts
  packages/servers/yandex-tracker/src/tools/api/bulk-change/move/bulk-move-issues.tool.ts
  packages/servers/yandex-tracker/src/tools/api/bulk-change/move/index.ts
  packages/servers/yandex-tracker/src/tools/api/bulk-change/status/get-bulk-change-status.definition.ts
  packages/servers/yandex-tracker/src/tools/api/bulk-change/status/get-bulk-change-status.schema.ts
  packages/servers/yandex-tracker/src/tools/api/bulk-change/status/get-bulk-change-status.tool.ts
  packages/servers/yandex-tracker/src/tools/api/bulk-change/status/index.ts
  packages/servers/yandex-tracker/src/tools/api/bulk-change/transition/bulk-transition-issues.definition.ts
  packages/servers/yandex-tracker/src/tools/api/bulk-change/transition/bulk-transition-issues.schema.ts
  packages/servers/yandex-tracker/src/tools/api/bulk-change/transition/bulk-transition-issues.tool.ts
  packages/servers/yandex-tracker/src/tools/api/bulk-change/transition/index.ts
  packages/servers/yandex-tracker/src/tools/api/bulk-change/update/bulk-update-issues.definition.ts
  packages/servers/yandex-tracker/src/tools/api/bulk-change/update/bulk-update-issues.schema.ts
  packages/servers/yandex-tracker/src/tools/api/bulk-change/update/bulk-update-issues.tool.ts
  packages/servers/yandex-tracker/src/tools/api/bulk-change/update/index.ts
  packages/servers/yandex-tracker/src/tools/api/index.ts
Due: prettier --write, eslint --fix

feat: добавить поддержку Fields API
  .agentic-planning/plan_verify_yandex_tracker_api/0_SUMMARY.md
  .agentic-planning/plan_verify_yandex_tracker_api/4.1_add_missing_endpoints_parallel.md
  packages/framework/infrastructure/src/cache/entity-cache-key.ts
  packages/servers/yandex-tracker/src/composition-root/definitions/operation-definitions.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/field/create-field.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/field/delete-field.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/field/get-field.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/field/get-fields.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/field/index.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/field/update-field.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/field/create-field.dto.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/field/field.output.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/field/fields-list.output.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/field/index.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/field/update-field.dto.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/index.ts
  packages/servers/yandex-tracker/src/tracker_api/entities/field.entity.ts
  packages/servers/yandex-tracker/src/tracker_api/entities/index.ts
  packages/servers/yandex-tracker/src/tracker_api/facade/yandex-tracker.facade.ts
Due: prettier --write, eslint --fix

feat: добавить поддержку Boards и Sprints API
  packages/framework/infrastructure/src/cache/entity-cache-key.ts
  packages/servers/yandex-tracker/src/composition-root/definitions/operation-definitions.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/board/create-board.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/board/delete-board.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/board/get-board.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/board/get-boards.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/board/index.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/board/update-board.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/index.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/sprint/create-sprint.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/sprint/get-sprint.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/sprint/get-sprints.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/sprint/index.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/sprint/update-sprint.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/board/board.output.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/board/boards-list.output.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/board/create-board.dto.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/board/delete-board.dto.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/board/get-board.dto.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/board/get-boards.dto.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/board/index.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/board/update-board.dto.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/index.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/sprint/create-sprint.dto.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/sprint/get-sprint.dto.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/sprint/get-sprints.dto.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/sprint/index.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/sprint/sprint.output.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/sprint/sprints-list.output.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/sprint/update-sprint.dto.ts
  packages/servers/yandex-tracker/src/tracker_api/entities/board.entity.ts
  packages/servers/yandex-tracker/src/tracker_api/entities/index.ts
  packages/servers/yandex-tracker/src/tracker_api/entities/sprint.entity.ts
  packages/servers/yandex-tracker/src/tracker_api/facade/yandex-tracker.facade.ts
Due: prettier --write, eslint --fix

test: исправить параметры в E2E и integration тестах
  .agentic-planning/plan_verify_yandex_tracker_api/FINAL_REPORT.md
  packages/servers/yandex-tracker/tests/integration/tools/api/issues/links/get/get-issue-links.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/workflows/full-issue-lifecycle.e2e.test.ts
Due: prettier --write, eslint --fix

docs: обновить статус плана API coverage expansion - 100% завершен
  .agentic-planning/REMAINING_WORK_links_api_tests.md
  .agentic-planning/plan_api_coverage_expansion_fin/README.md
Due: none

docs: обновить план fix_validation_issues с актуальными метриками
  .agentic-planning/plan_fix_validation_issues/1.2_fix_trivial_issues_sequential.md
  .agentic-planning/plan_fix_validation_issues/README.md
Due: none

fix: исправление trivial проблем валидации (этап 1.2)
  .agentic-planning/plan_fix_validation_issues/1.2_fix_trivial_issues_sequential.md
  package-lock.json
  packages/framework/infrastructure/tests/cache/entity-cache-key.test.ts
  packages/servers/yandex-tracker/package.json
Due: sort-package-json, prettier --write, eslint --fix

docs: расширить документацию языка запросов find_issues
  packages/servers/yandex-tracker/src/tools/api/issues/find/find-issues.definition.ts
Due: prettier --write, eslint --fix

fix(vitest): улучшить конфигурацию vitest для поддержки subpath imports
  package-lock.json
  packages/framework/core/package.json
  packages/framework/core/vitest.config.ts
  packages/framework/infrastructure/package.json
  packages/framework/infrastructure/vitest.config.ts
  packages/framework/search/package.json
  packages/framework/search/vitest.config.ts
  packages/servers/yandex-tracker/package.json
  packages/servers/yandex-tracker/tsconfig.tests.json
  packages/servers/yandex-tracker/vitest.config.ts
Due: sort-package-json, prettier --write, eslint --fix

docs(tests): документировать решение проблемы vitest workspace
  CLAUDE.md
  package.json
Due: sort-package-json

fix: синхронизация версии из package.json в manifest.json при сборке MCPB
  packages/servers/yandex-tracker/scripts/increment-build.ts
  packages/servers/yandex-tracker/tsconfig.json
Due: prettier --write, eslint --fix

feat: добавить git hash в версию манифеста MCPB
  .lintstagedrc.json
  packages/servers/yandex-tracker/eslint.config.js
  packages/servers/yandex-tracker/scripts/increment-build.ts
  packages/servers/yandex-tracker/tsconfig.json
Due: prettier --write, eslint --fix

fix: отключить search_tools в eager mode
  packages/servers/yandex-tracker/src/composition-root/container.ts
  packages/servers/yandex-tracker/tests/composition-root/container.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/helpers/search/search-tools.tool.integration.test.ts
Due: prettier --write, eslint --fix

feat: добавить дату в имена лог-файлов при ротации
  packages/framework/infrastructure/README.md
  packages/framework/infrastructure/src/logging/README.md
  packages/framework/infrastructure/src/logging/logger.ts
Due: prettier --write, eslint --fix

feat(checklists): добавить обязательный параметр fields в Checklists tools (код)
  packages/servers/yandex-tracker/src/tools/api/checklists/add/add-checklist-item.schema.ts
  packages/servers/yandex-tracker/src/tools/api/checklists/add/add-checklist-item.tool.ts
  packages/servers/yandex-tracker/src/tools/api/checklists/get/get-checklist.schema.ts
  packages/servers/yandex-tracker/src/tools/api/checklists/get/get-checklist.tool.ts
  packages/servers/yandex-tracker/src/tools/api/checklists/update/update-checklist-item.schema.ts
  packages/servers/yandex-tracker/src/tools/api/checklists/update/update-checklist-item.tool.ts
Due: prettier --write, eslint --fix

feat(components): добавить обязательный параметр fields во все Components tools
  .agentic-planning/plan_mcp_required_fields/README.md
  packages/servers/yandex-tracker/src/tools/api/components/create-component.definition.ts
  packages/servers/yandex-tracker/src/tools/api/components/create-component.schema.ts
  packages/servers/yandex-tracker/src/tools/api/components/create-component.tool.ts
  packages/servers/yandex-tracker/src/tools/api/components/get-components.definition.ts
  packages/servers/yandex-tracker/src/tools/api/components/get-components.schema.ts
  packages/servers/yandex-tracker/src/tools/api/components/get-components.tool.ts
  packages/servers/yandex-tracker/src/tools/api/components/update-component.definition.ts
  packages/servers/yandex-tracker/src/tools/api/components/update-component.schema.ts
  packages/servers/yandex-tracker/src/tools/api/components/update-component.tool.ts
  packages/servers/yandex-tracker/tests/helpers/workflow-client.ts
  packages/servers/yandex-tracker/tests/tools/api/components/create-component.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/components/get-components.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/components/update-component.tool.test.ts
Due: prettier --write, eslint --fix

docs(plan): обновить прогресс - завершён этап 2.4 Attachments (11/27 tools, 41%)
  .agentic-planning/plan_mcp_required_fields/README.md
Due: none

docs(plan): обновить прогресс - завершён этап 2.5 Links (13/27 tools, 48%)
  .agentic-planning/plan_mcp_required_fields/README.md
Due: none

feat(worklogs): добавить обязательный параметр fields во все Worklogs tools
  .agentic-planning/plan_mcp_required_fields/README.md
  packages/servers/yandex-tracker/src/tools/api/worklog/add/add-worklog.definition.ts
  packages/servers/yandex-tracker/src/tools/api/worklog/add/add-worklog.schema.ts
  packages/servers/yandex-tracker/src/tools/api/worklog/add/add-worklog.tool.ts
  packages/servers/yandex-tracker/src/tools/api/worklog/get/get-worklogs.definition.ts
  packages/servers/yandex-tracker/src/tools/api/worklog/get/get-worklogs.schema.ts
  packages/servers/yandex-tracker/src/tools/api/worklog/get/get-worklogs.tool.ts
  packages/servers/yandex-tracker/src/tools/api/worklog/update/update-worklog.definition.ts
  packages/servers/yandex-tracker/src/tools/api/worklog/update/update-worklog.schema.ts
  packages/servers/yandex-tracker/src/tools/api/worklog/update/update-worklog.tool.ts
Due: prettier --write, eslint --fix

feat(queues): добавить обязательный параметр fields во все Queues tools
  packages/servers/yandex-tracker/src/tools/api/queues/create-queue.schema.ts
  packages/servers/yandex-tracker/src/tools/api/queues/create-queue.tool.ts
  packages/servers/yandex-tracker/src/tools/api/queues/get-queue-fields.schema.ts
  packages/servers/yandex-tracker/src/tools/api/queues/get-queue-fields.tool.ts
  packages/servers/yandex-tracker/src/tools/api/queues/get-queue.schema.ts
  packages/servers/yandex-tracker/src/tools/api/queues/get-queue.tool.ts
  packages/servers/yandex-tracker/src/tools/api/queues/get-queues.schema.ts
  packages/servers/yandex-tracker/src/tools/api/queues/get-queues.tool.ts
  packages/servers/yandex-tracker/src/tools/api/queues/manage-queue-access.schema.ts
  packages/servers/yandex-tracker/src/tools/api/queues/manage-queue-access.tool.ts
  packages/servers/yandex-tracker/src/tools/api/queues/update-queue.schema.ts
  packages/servers/yandex-tracker/src/tools/api/queues/update-queue.tool.ts
  packages/servers/yandex-tracker/tests/tools/api/queues/create-queue.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/queues/get-queue-fields.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/queues/get-queue.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/queues/get-queues.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/queues/manage-queue-access.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/queues/update-queue.tool.test.ts
Due: prettier --write, eslint --fix

test(fields): обновить unit тесты для обязательного параметра fields
  .agentic-planning/plan_mcp_required_fields/3.2_update_tests_sequential.md
  .agentic-planning/plan_mcp_required_fields/README.md
  packages/servers/yandex-tracker/tests/helpers/assertion-helpers.ts
  packages/servers/yandex-tracker/tests/helpers/test-fields.ts
  packages/servers/yandex-tracker/tests/tools/api/checklists/add/add-checklist-item.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/checklists/get/get-checklist.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/checklists/update/update-checklist-item.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/comments/add/add-comment.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/comments/edit/edit-comment.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/comments/get/get-comments.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/components/create-component.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/components/get-components.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/components/update-component.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/issues/changelog/get-issue-changelog.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/issues/create/create-issue.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/issues/find/find-issues.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/issues/get/get-issues.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/issues/links/create/create-link.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/issues/links/get/get-issue-links.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/issues/transitions/execute/transition-issue.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/issues/transitions/get/get-issue-transitions.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/issues/update/update-issue.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/projects/create-project.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/projects/get-project.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/projects/get-projects.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/projects/update-project.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/queues/create-queue.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/queues/get-queue-fields.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/queues/get-queue.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/queues/get-queues.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/queues/manage-queue-access.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/queues/update-queue.tool.test.ts
Due: prettier --write, eslint --fix

test(lint): исправить lint ошибки в unit тестах
  packages/servers/yandex-tracker/tests/tools/api/checklists/add/add-checklist-item.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/checklists/get/get-checklist.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/checklists/update/update-checklist-item.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/comments/add/add-comment.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/comments/edit/edit-comment.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/comments/get/get-comments.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/components/create-component.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/components/get-components.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/components/update-component.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/issues/changelog/get-issue-changelog.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/issues/links/create/create-link.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/issues/links/get/get-issue-links.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/issues/transitions/execute/transition-issue.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/issues/transitions/get/get-issue-transitions.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/projects/create-project.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/projects/get-project.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/projects/get-projects.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/projects/update-project.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/queues/create-queue.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/queues/get-queue-fields.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/queues/get-queue.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/queues/get-queues.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/queues/manage-queue-access.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/queues/update-queue.tool.test.ts
Due: prettier --write, eslint --fix

docs(plan): создать детальный план рефакторинга относительных импортов
  .agentic-planning/plan_fix_relative_imports/1.1_analyze_and_prepare_sequential.md
Due: none

docs(plan): добавить соглашение об импортах для monorepo
  .agentic-planning/plan_fix_relative_imports/import-conventions.md
Due: none

docs(plan): создать детальный план миграции на Node.js Subpath Imports
  .agentic-planning/plan_fix_relative_imports/import-conventions.md
  .agentic-planning/plan_migrate_to_subpath_imports/migration-plan.md
Due: none

docs(plan): обновить план миграции под Вариант B (полная миграция)
  .agentic-planning/plan_migrate_to_subpath_imports/migration-plan.md
Due: none

test(fields): исправить все оставшиеся 25 тестов для обязательного параметра fields
  packages/servers/yandex-tracker/tests/helpers/test-fields.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/issues/find/find-issues.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/issues/get/get-issues.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/queues/access/manage-queue-access.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/queues/fields/get-queue-fields.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/tools/api/issues/transitions/execute/transition-issue.tool.test.ts
Due: prettier --write, eslint --fix

docs(plan): очистить план миграции от исторических справок
  .agentic-planning/plan_migrate_to_subpath_imports/migration-plan.md
  .agentic-planning/plan_migrate_to_subpath_imports/plan-review.md
Due: none

docs(plan): завершить этап 3.3 - финальная валидация успешна
  .agentic-planning/plan_mcp_required_fields/3.3_final_validation_sequential.md
  .agentic-planning/plan_mcp_required_fields/NEXT_SESSION.md
  .agentic-planning/plan_mcp_required_fields/README.md
Due: none

docs(plan): отметить этап 4.1 как завершённый
  .agentic-planning/plan_mcp_required_fields/4.1_documentation_sequential.md
  .agentic-planning/plan_mcp_required_fields/NEXT_SESSION.md
  .agentic-planning/plan_mcp_required_fields/README.md
Due: none

chore: завершить миграцию на subpath imports, удалить план
  .agentic-planning/plan_migrate_to_subpath_imports/import-mapping-analysis.md
  .agentic-planning/plan_migrate_to_subpath_imports/migration-plan.md
  CLAUDE.md
  packages/servers/yandex-tracker/scripts/smoke-test-server.ts
Due: prettier --write, eslint --fix

refactor(planning): обновить планы с актуальными метриками
  .agentic-planning/plan_architecture_refactoring/1.1_facade_refactoring_sequential.md
  .agentic-planning/plan_architecture_refactoring/1.2_tool_registry_refactoring_sequential.md
  .agentic-planning/plan_architecture_refactoring/README.md
Due: none

test: обновить тесты для проверки fields в required
  packages/servers/yandex-tracker/tests/tools/api/issues/find/find-issues.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/queues/get-queue.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/queues/get-queues.tool.test.ts
Due: prettier --write, eslint --fix

feat: добавить фильтрацию инструментов по категориям
  packages/framework/core/src/tool-registry.ts
  packages/framework/infrastructure/src/config.ts
  packages/framework/infrastructure/src/constants.ts
  packages/framework/infrastructure/src/types.ts
  packages/servers/yandex-tracker/src/index.ts
Due: prettier --write, eslint --fix

docs: добавить план оптимизации tool descriptions
  .agentic-planning/plan_optimize_tool_descriptions/1.1_preparation_sequential.md
  .agentic-planning/plan_optimize_tool_descriptions/2.1_shorten_for_not_for_patterns_parallel.md
  .agentic-planning/plan_optimize_tool_descriptions/2.2_unify_param_descriptions_sequential.md
  .agentic-planning/plan_optimize_tool_descriptions/3.1_validation_and_measurement_sequential.md
  .agentic-planning/plan_optimize_tool_descriptions/README.md
Due: none

test: добавить unit и integration тесты для фильтрации по категориям
  packages/framework/infrastructure/src/config.ts
  packages/framework/infrastructure/tests/config.test.ts
  packages/servers/yandex-tracker/tests/tool-registry.test.ts
Due: prettier --write, eslint --fix

feat: добавить фильтрацию инструментов по категориям
  packages/framework/core/src/tool-registry.ts
  packages/framework/infrastructure/README.md
  packages/framework/infrastructure/src/config.ts
  packages/framework/infrastructure/tests/config.test.ts
  packages/servers/yandex-tracker/README.md
Due: prettier --write, eslint --fix

Path conditions:
  sort-package-json: any of: **/package.json
  prettier --write: any of: *.ts
  eslint --fix: any of: *.ts
