Repository FractalizeR/mcp_servers: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, prettier --write

feat(tracker): инструменты глобальных полей
  packages/servers/ticktick/manifest.json
  packages/servers/yandex-tracker/manifest.json
  packages/servers/yandex-tracker/src/composition-root/definitions/tool-definitions.ts
  packages/servers/yandex-tracker/src/tools/api/fields/create-global-field.metadata.ts
  packages/servers/yandex-tracker/src/tools/api/fields/create-global-field.schema.ts
  packages/servers/yandex-tracker/src/tools/api/fields/create-global-field.tool.ts
  packages/servers/yandex-tracker/src/tools/api/fields/delete-global-field.metadata.ts
  packages/servers/yandex-tracker/src/tools/api/fields/delete-global-field.schema.ts
  packages/servers/yandex-tracker/src/tools/api/fields/delete-global-field.tool.ts
  packages/servers/yandex-tracker/src/tools/api/fields/field-value.schema.ts
  packages/servers/yandex-tracker/src/tools/api/fields/get-global-field.metadata.ts
  packages/servers/yandex-tracker/src/tools/api/fields/get-global-field.schema.ts
  packages/servers/yandex-tracker/src/tools/api/fields/get-global-field.tool.ts
  packages/servers/yandex-tracker/src/tools/api/fields/get-global-fields.metadata.ts
  packages/servers/yandex-tracker/src/tools/api/fields/get-global-fields.schema.ts
  packages/servers/yandex-tracker/src/tools/api/fields/get-global-fields.tool.ts
  packages/servers/yandex-tracker/src/tools/api/fields/index.ts
  packages/servers/yandex-tracker/src/tools/api/fields/update-global-field.metadata.ts
  packages/servers/yandex-tracker/src/tools/api/fields/update-global-field.schema.ts
  packages/servers/yandex-tracker/src/tools/api/fields/update-global-field.tool.ts
  packages/servers/yandex-tracker/src/tracker_api/entities/field.entity.ts
  packages/servers/yandex-tracker/tests/smoke/tool-contract-3-1-c.smoke.test.ts
  packages/servers/yandex-tracker/tests/tools/api/fields/create-global-field.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/fields/delete-global-field.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/fields/get-global-field.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/fields/get-global-fields.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/fields/global-vs-local-fields-naming.test.ts
  packages/servers/yandex-tracker/tests/tools/api/fields/update-global-field.tool.test.ts
Due: none

feat(apps): пилот MCP Apps — редактор описания задачи
  packages/framework/core/src/mcp-server-adapter/build-mcp-server.ts
  packages/framework/core/src/tool-registry/tools-list-projection.ts
  packages/framework/core/src/tools/base/base.types.ts
  packages/framework/core/tests/mcp-server-adapter/mcp-apps-capability.wire.test.ts
  packages/framework/core/tests/tool-registry/tools-list-projection.test.ts
  packages/servers/ticktick/manifest.json
  packages/servers/yandex-tracker/manifest.json
  packages/servers/yandex-tracker/src/composition-root/definitions/tool-definitions.ts
  packages/servers/yandex-tracker/src/resources/apps-ui-uri.ts
  packages/servers/yandex-tracker/src/resources/index.ts
  packages/servers/yandex-tracker/src/resources/issue-description-editor-resource-provider.ts
  packages/servers/yandex-tracker/src/resources/issue-description-editor.widget.ts
  packages/servers/yandex-tracker/src/tools/api/issues/analyze/analyze-issue-description.metadata.ts
  packages/servers/yandex-tracker/src/tools/api/issues/analyze/analyze-issue-description.schema.ts
  packages/servers/yandex-tracker/src/tools/api/issues/analyze/analyze-issue-description.tool.ts
  packages/servers/yandex-tracker/src/tools/api/issues/analyze/index.ts
  packages/servers/yandex-tracker/src/tools/api/issues/analyze/sanitize-tracker-text.ts
  packages/servers/yandex-tracker/src/tools/api/issues/analyze/suggest-description-rewrite.ts
  packages/servers/yandex-tracker/tests/resources/issue-description-editor-resource-provider.test.ts
  packages/servers/yandex-tracker/tests/resources/issue-description-editor.wire.test.ts
  packages/servers/yandex-tracker/tests/resources/tracker-resources.wire.test.ts
  packages/servers/yandex-tracker/tests/smoke/tool-contract-3-1-c.smoke.test.ts
  packages/servers/yandex-tracker/tests/tools/api/issues/analyze/analyze-issue-description-tools-list.wire.test.ts
  packages/servers/yandex-tracker/tests/tools/api/issues/analyze/analyze-issue-description.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/issues/analyze/analyze-then-update-fallback.test.ts
  packages/servers/yandex-tracker/tests/tools/api/issues/analyze/sanitize-tracker-text.test.ts
  packages/servers/yandex-tracker/tests/tools/api/issues/analyze/suggest-description-rewrite.test.ts
  packages/servers/yandex-wiki/manifest.json
Due: none

docs(planning): план исполнен, открытые пункты вынесены отдельно
  .agentic-planning/plan_mcp_2026_modernization/README.md
Due: none

test: закрыты слепые пятна проверок после рефакторинга
  .agentic-planning/plan_mcp_2026_modernization/7.1_api_defects_parallel.md
  packages/framework/core/src/testing/schema-reachability/find-unreachable-leaves.ts
  packages/framework/core/src/testing/schema-reachability/http-client-call-recorder.ts
  packages/framework/core/src/testing/schema-reachability/index.ts
  packages/framework/core/tests/testing/schema-reachability/find-unreachable-leaves.test.ts
  packages/framework/core/tests/testing/schema-reachability/http-client-call-recorder.test.ts
  packages/servers/ticktick/manifest.json
  packages/servers/ticktick/scripts/raw-wire-test.ts
  packages/servers/ticktick/tests/smoke/tool-params-reach-api.smoke.test.ts
  packages/servers/yandex-tracker/manifest.json
  packages/servers/yandex-tracker/scripts/raw-wire-test.ts
  packages/servers/yandex-tracker/tests/smoke/tool-params-reach-api.smoke.test.ts
  packages/servers/yandex-wiki/README.md
  packages/servers/yandex-wiki/manifest.json
  packages/servers/yandex-wiki/scripts/raw-wire-test.ts
  packages/servers/yandex-wiki/src/config/config-loader.ts
  packages/servers/yandex-wiki/src/config/constants.ts
  packages/servers/yandex-wiki/src/constants.ts
  packages/servers/yandex-wiki/tests/smoke/schema-operation-reachability.smoke.test.ts
  packages/servers/yandex-wiki/tests/unit/config/api-base-config.test.ts
Due: prettier --write

fix(tracker): разбор ответа Entity API — конверт, а не голый массив
  packages/servers/yandex-tracker/manifest.json
  packages/servers/yandex-tracker/src/tracker_api/api_operations/entity-api/assert-entity-record-shape.util.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/entity-api/create-entity.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/entity-api/find-entities.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/entity-api/get-entity.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/entity-api/update-entity.operation.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/entity-api/assert-entity-record-shape.util.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/entity-api/create-entity.operation.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/entity-api/find-entities.operation.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/entity-api/get-entity.operation.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/entity-api/update-entity.operation.test.ts
Due: none

fix(tests): smoke-тест сервера ждал время вместо события
  packages/servers/ticktick/manifest.json
  packages/servers/ticktick/scripts/smoke-test-server.ts
  packages/servers/yandex-tracker/manifest.json
  packages/servers/yandex-tracker/scripts/smoke-test-server.ts
  packages/servers/yandex-wiki/manifest.json
  packages/servers/yandex-wiki/scripts/smoke-test-server.ts
Due: prettier --write

chore(release): 1.8.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
  packages/framework/cli/package.json
  packages/framework/core/package.json
  packages/framework/infrastructure/package.json
  packages/servers/ticktick/manifest.json
  packages/servers/ticktick/package.json
  packages/servers/yandex-tracker/manifest.json
  packages/servers/yandex-tracker/package.json
  packages/servers/yandex-wiki/manifest.json
  packages/servers/yandex-wiki/package.json
  packages/wrappers/mcp-server-ticktick/package.json
  packages/wrappers/mcp-server-yandex-tracker/package.json
  packages/wrappers/mcp-server-yandex-wiki/package.json
Due: sort-package-json

Notes added by 'git notes add'
  ca42cef7be567e66b03b4234155807f32062d2ab
Due: none

docs(planning): релиз 1.8.0 и итоги живой проверки
  .agentic-planning/plan_mcp_2026_modernization/README.md
Due: none

refactor(core): переименование totalCount → itemsOnPage
  packages/framework/core/src/tools/base/base-tool.ts
  packages/framework/core/src/tools/common/collection-result/collection-output-schema.ts
  packages/framework/core/src/tools/common/collection-result/collection-response-mode.ts
  packages/framework/core/tests/tools/common/collection-result/collection-output-schema.test.ts
  packages/servers/ticktick/src/tools/tasks/get-all-tasks/get-all-tasks.schema.ts
  packages/servers/ticktick/tests/unit/tools/collection-response-mode.test.ts
  packages/servers/yandex-tracker/src/prompts/daily-summary.prompt.ts
  packages/servers/yandex-tracker/src/prompts/project-summary.prompt.ts
  packages/servers/yandex-tracker/src/prompts/triage-queue.prompt.ts
  packages/servers/yandex-tracker/src/tools/api/issues/find/find-issues.schema.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/issues/find/find-issues.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/tools/api/issues/find/find-issues.tool.test.ts
  packages/servers/yandex-wiki/tests/unit/tools/api/resources/get-resources-response-mode.test.ts
Due: none

fix(tracker): баги записи/чтения и Entity API
  packages/servers/yandex-tracker/src/tools/api/comments/add/add-comment.tool.ts
  packages/servers/yandex-tracker/src/tools/api/entities/create-entity.schema.ts
  packages/servers/yandex-tracker/src/tools/api/entities/create-entity.tool.ts
  packages/servers/yandex-tracker/src/tools/api/entities/update-entity.schema.ts
  packages/servers/yandex-tracker/src/tools/api/issues/find/find-issues.tool.ts
  packages/servers/yandex-tracker/src/tools/api/issues/links/create/create-link.tool.ts
  packages/servers/yandex-tracker/src/tools/api/worklog/add/add-worklog.tool.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/checklist/add-checklist-item.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/entity-api/create-entity.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/entity-api/update-entity.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/issue/find/find-issues.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/project/get-project.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/queue/get-queue.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/entity-api/create-entity.dto.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/entity-api/update-entity.dto.ts
  packages/servers/yandex-tracker/src/tracker_api/entities/entity-api.entity.ts
  packages/servers/yandex-tracker/tests/integration/helpers/mock-server.ts
  packages/servers/yandex-tracker/tests/tools/api/comments/add/add-comment.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/entities/create-entity.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/entities/update-entity.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/issues/links/create/create-link.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/worklog/add/add-worklog.tool.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/checklist/add-checklist-item.operation.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/entity-api/create-entity.operation.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/entity-api/update-entity.operation.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/issue/find/find-issues.operation.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/queue/get-queue.operation.test.ts
Due: none

docs(servers): перевод описаний инструментов на русский
  packages/servers/ticktick/manifest.json
  packages/servers/ticktick/src/common/schemas/fields.schema.ts
  packages/servers/ticktick/src/common/schemas/priority.schema.ts
  packages/servers/ticktick/src/common/schemas/status.schema.ts
  packages/servers/ticktick/src/ticktick_api/dto/task.dto.ts
  packages/servers/ticktick/src/ticktick_api/entities/task.entity.ts
  packages/servers/ticktick/src/tools/tasks/batch-create-tasks/batch-create-tasks.metadata.ts
  packages/servers/ticktick/src/tools/tasks/batch-create-tasks/batch-create-tasks.schema.ts
  packages/servers/ticktick/src/tools/tasks/complete-task/complete-task.metadata.ts
  packages/servers/ticktick/src/tools/tasks/create-task/create-task.metadata.ts
  packages/servers/ticktick/src/tools/tasks/create-task/create-task.schema.ts
  packages/servers/ticktick/src/tools/tasks/delete-task/delete-task.metadata.ts
  packages/servers/ticktick/src/tools/tasks/get-all-tasks/get-all-tasks.metadata.ts
  packages/servers/ticktick/src/tools/tasks/get-task/get-task.metadata.ts
  packages/servers/ticktick/src/tools/tasks/get-tasks-by-priority/get-tasks-by-priority.metadata.ts
  packages/servers/ticktick/src/tools/tasks/get-tasks/get-tasks.metadata.ts
  packages/servers/ticktick/src/tools/tasks/search-tasks/search-tasks.metadata.ts
  packages/servers/ticktick/src/tools/tasks/search-tasks/search-tasks.schema.ts
  packages/servers/ticktick/src/tools/tasks/update-task/update-task.metadata.ts
  packages/servers/ticktick/src/tools/tasks/update-task/update-task.schema.ts
  packages/servers/yandex-tracker/CLAUDE.md
  packages/servers/yandex-tracker/manifest.json
  packages/servers/yandex-tracker/src/tools/api/checklists/add/add-checklist-item.schema.ts
  packages/servers/yandex-tracker/src/tools/api/checklists/delete/delete-checklist-item.schema.ts
  packages/servers/yandex-tracker/src/tools/api/checklists/get/get-checklist.schema.ts
  packages/servers/yandex-tracker/src/tools/api/checklists/update/update-checklist-item.schema.ts
  packages/servers/yandex-tracker/src/tools/api/comments/add/add-comment.schema.ts
  packages/servers/yandex-tracker/src/tools/api/comments/delete/delete-comment.schema.ts
  packages/servers/yandex-tracker/src/tools/api/comments/edit/edit-comment.schema.ts
  packages/servers/yandex-tracker/src/tools/api/comments/get/get-comments.schema.ts
  packages/servers/yandex-tracker/src/tools/api/issues/attachments/get/get-attachments.schema.ts
  packages/servers/yandex-tracker/src/tools/api/issues/links/create/create-link.schema.ts
  packages/servers/yandex-tracker/src/tools/api/issues/links/delete/delete-link.schema.ts
  packages/servers/yandex-tracker/src/tools/api/issues/links/get/get-issue-links.schema.ts
  packages/servers/yandex-tracker/src/tools/api/worklog/add/add-worklog.schema.ts
  packages/servers/yandex-tracker/src/tools/api/worklog/delete/delete-worklog.schema.ts
  packages/servers/yandex-tracker/src/tools/api/worklog/get/get-worklogs.schema.ts
  packages/servers/yandex-tracker/src/tools/api/worklog/update/update-worklog.schema.ts
  packages/servers/yandex-wiki/manifest.json
  packages/servers/yandex-wiki/src/common/schemas/response-fields.schema.ts
Due: none

fix(tracker): регрессионный тест get_project expand + подъём testTimeout smoke
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/project/get-project.operation.test.ts
  packages/servers/yandex-tracker/vitest.config.ts
Due: none

fix(core): детерминированный порядок tools/list
  packages/framework/core/src/tool-registry/tool-sorter.ts
  packages/framework/core/src/tools/base/base-tool.ts
  packages/servers/yandex-tracker/manifest.json
  packages/servers/yandex-wiki/manifest.json
Due: none

chore(release): 1.8.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
  packages/framework/cli/package.json
  packages/framework/core/package.json
  packages/framework/infrastructure/package.json
  packages/servers/ticktick/manifest.json
  packages/servers/ticktick/package.json
  packages/servers/yandex-tracker/manifest.json
  packages/servers/yandex-tracker/package.json
  packages/servers/yandex-wiki/manifest.json
  packages/servers/yandex-wiki/package.json
  packages/wrappers/mcp-server-ticktick/package.json
  packages/wrappers/mcp-server-yandex-tracker/package.json
  packages/wrappers/mcp-server-yandex-wiki/package.json
Due: sort-package-json

Notes added by 'git notes add'
  36cb1e742da6e64b14c8203b815e80a1cbc6adf8
Due: none

fix(infra): внятная трансляция 409 и честный тип поля errors
  packages/framework/infrastructure/src/http/error/api-error.class.ts
  packages/framework/infrastructure/src/http/error/error-mapper.ts
  packages/framework/infrastructure/tests/http/error/error-mapper.test.ts
Due: none

fix(core): проекция полей больше не оставляет пустые объекты
  packages/framework/core/src/utils/response-field-filter.ts
  packages/framework/core/tests/utils/response-field-filter.test.ts
Due: none

fix(tracker): batch-ответ с частичным отказом больше не отбраковывается клиентом
  packages/servers/yandex-tracker/src/common/schemas/output.schema.ts
  packages/servers/yandex-tracker/src/tools/api/comments/add/add-comment.schema.ts
  packages/servers/yandex-tracker/src/tools/api/comments/delete/delete-comment.schema.ts
  packages/servers/yandex-tracker/src/tools/api/comments/edit/edit-comment.schema.ts
  packages/servers/yandex-tracker/src/tools/api/comments/get/get-comments.schema.ts
  packages/servers/yandex-tracker/src/tools/api/issues/attachments/get/get-attachments.schema.ts
  packages/servers/yandex-tracker/src/tools/api/issues/changelog/get-issue-changelog.schema.ts
  packages/servers/yandex-tracker/src/tools/api/issues/get/get-issues.schema.ts
  packages/servers/yandex-tracker/src/tools/api/issues/links/create/create-link.schema.ts
  packages/servers/yandex-tracker/src/tools/api/issues/links/delete/delete-link.schema.ts
  packages/servers/yandex-tracker/src/tools/api/issues/links/get/get-issue-links.schema.ts
  packages/servers/yandex-tracker/src/tools/api/worklog/add/add-worklog.schema.ts
  packages/servers/yandex-tracker/src/tools/api/worklog/get/get-worklogs.schema.ts
  packages/servers/yandex-tracker/tests/common/schemas/output.schema.test.ts
  packages/servers/yandex-tracker/tests/smoke/batch-tool-error-contract.test.ts
Due: none

fix(tracker): add/update_checklist_item больше не падают на deadline
  packages/servers/yandex-tracker/src/tools/api/checklists/add/add-checklist-item.schema.ts
  packages/servers/yandex-tracker/src/tools/api/checklists/base-checklist-item.schema.ts
  packages/servers/yandex-tracker/src/tools/api/checklists/delete/delete-checklist-item.schema.ts
  packages/servers/yandex-tracker/src/tools/api/checklists/get/get-checklist.schema.ts
  packages/servers/yandex-tracker/src/tools/api/checklists/update/update-checklist-item.schema.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/checklist/add-checklist-item.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/checklist/checklist-item-body.util.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/checklist/get-checklist.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/checklist/update-checklist-item.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/checklist/add-checklist-item.input.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/checklist/update-checklist-item.input.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/checklist/add-checklist-item.operation.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/checklist/checklist-item-body.util.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/checklist/get-checklist.operation.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/checklist/update-checklist-item.operation.test.ts
Due: none

fix(tracker): ложный hasNextPage на курсорных эндпоинтах
  packages/servers/yandex-tracker/src/tracker_api/api_operations/comment/get-comments.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/issue/changelog/get-issue-changelog.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/link/get-issue-links.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/user/find-users.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/worklog/get-worklogs.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/worklog/search-worklog.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/entities/common/pagination.entity.ts
  packages/servers/yandex-tracker/src/tracker_api/utils/index.ts
  packages/servers/yandex-tracker/src/tracker_api/utils/tracker-paginator.util.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/comment/get-comments.operation.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/issue/changelog/get-issue-changelog.operation.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/link/get-issue-links.operation.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/worklog/get-worklogs.operation.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/worklog/search-worklog.operation.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/utils/tracker-paginator.util.test.ts
Due: none

fix(tracker): find_issues теряла ключи, transition_issue возвращал не ту сущность
  packages/servers/yandex-tracker/src/tools/api/issues/find/find-issues.metadata.ts
  packages/servers/yandex-tracker/src/tools/api/issues/find/find-issues.schema.ts
  packages/servers/yandex-tracker/src/tools/api/issues/find/find-issues.tool.ts
  packages/servers/yandex-tracker/src/tools/api/issues/transitions/execute/transition-issue.metadata.ts
  packages/servers/yandex-tracker/src/tools/api/issues/transitions/execute/transition-issue.schema.ts
  packages/servers/yandex-tracker/src/tools/api/issues/transitions/execute/transition-issue.tool.ts
  packages/servers/yandex-tracker/src/tools/api/issues/transitions/get/get-issue-transitions.metadata.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/issue/find/find-issues.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/issue/transitions/transition-issue.operation.ts
  packages/servers/yandex-tracker/tests/integration/helpers/mock-server.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/issues/transition/transition-issue.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/tools/api/issues/find/find-issues.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/issues/transitions/execute/transition-issue.tool.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/issue/transitions/execute/transition-issue.operation.test.ts
Due: none

chore(release): 1.9.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
  packages/framework/cli/package.json
  packages/framework/core/package.json
  packages/framework/infrastructure/package.json
  packages/servers/ticktick/manifest.json
  packages/servers/ticktick/package.json
  packages/servers/yandex-tracker/manifest.json
  packages/servers/yandex-tracker/package.json
  packages/servers/yandex-wiki/manifest.json
  packages/servers/yandex-wiki/package.json
  packages/wrappers/mcp-server-ticktick/package.json
  packages/wrappers/mcp-server-yandex-tracker/package.json
  packages/wrappers/mcp-server-yandex-wiki/package.json
Due: sort-package-json

Notes added by 'git notes add'
  a163981977b2e2c7c23c7dbbd4b75225478e0452
Due: none

fix(build): turbo больше не ищет несуществующие артефакты typecheck
  turbo.json
Due: none

test(infrastructure): барьер вместо таймингов в тестах ParallelExecutor
  packages/framework/infrastructure/tests/async/parallel-executor.test.ts
Due: none

fix(wiki): download_attachment помечен readOnlyHint: false
  packages/servers/yandex-wiki/src/tools/api/attachments/download/download-attachment.metadata.ts
  packages/servers/yandex-wiki/tests/unit/tools/api/attachments/download-attachment.tool.test.ts
Due: none

docs(planning): план тонкого dev-интерфейса вызова MCP-инструментов
  .agentic-planning/plan_mcp_dev_interface/1.1_dev_client_core_sequential.md
  .agentic-planning/plan_mcp_dev_interface/1.2_cli_commands_sequential.md
  .agentic-planning/plan_mcp_dev_interface/1.3_annotations_verification_sequential.md
  .agentic-planning/plan_mcp_dev_interface/2.1_server_yandex_tracker_parallel.md
  .agentic-planning/plan_mcp_dev_interface/2.2_server_yandex_wiki_parallel.md
  .agentic-planning/plan_mcp_dev_interface/2.3_server_ticktick_parallel.md
  .agentic-planning/plan_mcp_dev_interface/2.4_root_docs_parallel.md
  .agentic-planning/plan_mcp_dev_interface/3.1_smoke_harness_dedup_sequential.md
  .agentic-planning/plan_mcp_dev_interface/README.md
  .agentic-planning/plan_mcp_dev_interface/inventory_tools_annotations.md
Due: none

fix(build): manifest.json больше не мусорит в git status
  .releaserc.json
  packages/servers/ticktick/manifest.json
  packages/servers/ticktick/package.json
  packages/servers/yandex-tracker/CLAUDE.md
  packages/servers/yandex-tracker/manifest.json
  packages/servers/yandex-tracker/package.json
  packages/servers/yandex-wiki/manifest.json
  packages/servers/yandex-wiki/package.json
  scripts/update-versions.mjs
Due: sort-package-json

chore(tracker): удалены мёртвые скрипты test-tool-not-found
  .agentic-planning/plan_release_gate_determinism/0_enumeration.md
  .agentic-planning/plan_release_gate_determinism/1.1_tools_list_diagnostics_sequential.md
  .agentic-planning/plan_release_gate_determinism/1.2_timing_hygiene_sequential.md
  .agentic-planning/plan_release_gate_determinism/2.1_ci_validate_unification_parallel.md
  .agentic-planning/plan_release_gate_determinism/3.1_depcruise_gate_parallel.md
  .agentic-planning/plan_release_gate_determinism/README.md
  packages/servers/yandex-tracker/scripts/test-tool-not-found-smoke.ts
  packages/servers/yandex-tracker/scripts/test-tool-not-found.ts
Due: prettier --write

docs(planning): план детерминизма релизного гейта, редакция 2
  .agentic-planning/plan_release_gate_determinism/2.1_ci_validate_unification_parallel.md
  .agentic-planning/plan_release_gate_determinism/4.1_typecheck_tests_debt_sequential.md
  .agentic-planning/plan_release_gate_determinism/README.md
Due: none

fix(tests): харнессы рвали UTF-8 на границе чанка stdout
  packages/servers/ticktick/scripts/raw-wire-test.ts
  packages/servers/ticktick/scripts/smoke-test-server.ts
  packages/servers/yandex-tracker/scripts/raw-wire-test.ts
  packages/servers/yandex-tracker/scripts/smoke-test-server.ts
  packages/servers/yandex-wiki/scripts/raw-wire-test.ts
  packages/servers/yandex-wiki/scripts/smoke-test-server.ts
Due: prettier --write

refactor(tests): харнессы ждут событий, а не времени
  packages/servers/ticktick/scripts/raw-wire-test.ts
  packages/servers/ticktick/scripts/smoke-test-server.ts
  packages/servers/yandex-tracker/scripts/raw-wire-test.ts
  packages/servers/yandex-tracker/scripts/smoke-test-server.ts
  packages/servers/yandex-wiki/scripts/raw-wire-test.ts
  packages/servers/yandex-wiki/scripts/smoke-test-server.ts
Due: prettier --write

ci: PR-гейт и релиз проверяют одно и то же
  .github/workflows/ci.yml
Due: none

fix(quality): гейт архитектурных границ ожил
  .dependency-cruiser.cjs
  package.json
  packages/framework/cli/package.json
  packages/framework/core/package.json
  packages/framework/infrastructure/package.json
  packages/servers/ticktick/package.json
  packages/servers/yandex-tracker/package.json
  packages/servers/yandex-wiki/package.json
  turbo.json
Due: sort-package-json

fix(quality): правило composition-root знало не ту точку входа
  .dependency-cruiser.cjs
Due: none

Path conditions:
  sort-package-json: any of: **/package.json
  prettier --write: any of: packages/servers/yandex-tracker/scripts/**/*.ts
