Repository FractalizeR/mcp_servers: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, prettier --write

fix(servers): вещи переехали туда, где им место — гейт зелёный
  packages/servers/ticktick/src/composition-root/container.ts
  packages/servers/ticktick/src/composition-root/types.ts
  packages/servers/ticktick/src/ticktick_api/facade/containers/project-operations.container.ts
  packages/servers/ticktick/src/ticktick_api/facade/containers/task-operations.container.ts
  packages/servers/ticktick/src/ticktick_api/facade/ticktick.facade.ts
  packages/servers/yandex-tracker/src/common/index.ts
  packages/servers/yandex-tracker/src/common/paginated-field-filter.ts
  packages/servers/yandex-tracker/src/tools/api/checklists/get/get-checklist.tool.ts
  packages/servers/yandex-tracker/src/tools/api/comments/get/get-comments.tool.ts
  packages/servers/yandex-tracker/src/tools/api/issues/attachments/get/get-attachments.tool.ts
  packages/servers/yandex-tracker/src/tools/api/issues/changelog/get-issue-changelog.tool.ts
  packages/servers/yandex-tracker/src/tools/api/issues/links/get/get-issue-links.tool.ts
  packages/servers/yandex-tracker/src/tools/api/issues/transitions/execute/transition-issue.tool.ts
  packages/servers/yandex-tracker/src/tools/api/worklog/get/get-worklogs.tool.ts
  packages/servers/yandex-tracker/src/tracker_api/facade/index.ts
  packages/servers/yandex-tracker/src/tracker_api/utils/README.md
  packages/servers/yandex-tracker/src/tracker_api/utils/index.ts
  packages/servers/yandex-tracker/tests/common/paginated-field-filter.test.ts
  packages/servers/yandex-wiki/src/constants.ts
  packages/servers/yandex-wiki/src/tools/api/attachments/upload/upload-attachment.metadata.ts
  packages/servers/yandex-wiki/src/tools/api/attachments/upload/upload-attachment.schema.ts
  packages/servers/yandex-wiki/src/wiki_api/api_operations/attachment/index.ts
  packages/servers/yandex-wiki/src/wiki_api/api_operations/attachment/upload-attachment.operation.ts
  packages/servers/yandex-wiki/tests/unit/wiki_api/api_operations/attachment/upload-attachment.operation.test.ts
Due: none

fix(servers): operations больше не торчат наружу через баррель
  .dependency-cruiser.cjs
  packages/servers/ticktick/src/ticktick_api/index.ts
  packages/servers/yandex-wiki/src/wiki_api/index.ts
Due: none

chore(release): 1.9.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
  packages/framework/cli/package.json
  packages/framework/core/package.json
  packages/framework/infrastructure/package.json
  packages/servers/ticktick/package.json
  packages/servers/yandex-tracker/package.json
  packages/servers/yandex-wiki/package.json
  packages/wrappers/mcp-server-ticktick/package.json
  packages/wrappers/mcp-server-yandex-tracker/package.json
  packages/wrappers/mcp-server-yandex-wiki/package.json
Due: sort-package-json

Notes added by 'git notes add'
  5a70c9fe78288b85366bff0e82a76552097a45ec
Due: none

refactor(cli): getLaunchSpec различает четыре причины отсутствия spec
  packages/framework/cli/src/commands/doctor.command.ts
  packages/framework/cli/src/connectors/base/base-connector.ts
  packages/framework/cli/src/connectors/base/configurable-connector.ts
  packages/framework/cli/src/connectors/base/connector.interface.ts
  packages/framework/cli/src/connectors/claude-code/claude-code.connector.ts
  packages/framework/cli/src/types.ts
  packages/framework/cli/src/types/launch.types.ts
  packages/framework/cli/tests/fixtures/claude-mcp-get.fixtures.ts
  packages/framework/cli/tests/integration/full-workflow.test.ts
  packages/framework/cli/tests/unit/commands/connect.command.test.ts
  packages/framework/cli/tests/unit/commands/disconnect.command.test.ts
  packages/framework/cli/tests/unit/commands/doctor.command.test.ts
  packages/framework/cli/tests/unit/connectors/base-connector.test.ts
  packages/framework/cli/tests/unit/connectors/claude-code.test.ts
  packages/framework/cli/tests/unit/connectors/configurable-connector.test.ts
  packages/framework/cli/tests/unit/connectors/registry.test.ts
  packages/framework/cli/tests/unit/types.test.ts
Due: none

feat(servers): скрипты tools:* и регресс-тесты аннотаций
  packages/servers/ticktick/CLAUDE.md
  packages/servers/ticktick/dev-calls.example.jsonl
  packages/servers/ticktick/package.json
  packages/servers/ticktick/tests/unit/composition-root/annotations.test.ts
  packages/servers/yandex-tracker/CLAUDE.md
  packages/servers/yandex-tracker/dev-calls.example.jsonl
  packages/servers/yandex-tracker/package.json
  packages/servers/yandex-tracker/tests/composition-root/annotations.test.ts
  packages/servers/yandex-wiki/CLAUDE.md
  packages/servers/yandex-wiki/dev-calls.example.jsonl
  packages/servers/yandex-wiki/package.json
  packages/servers/yandex-wiki/tests/unit/composition-root/annotations.test.ts
Due: sort-package-json

docs: dev-интерфейс вызова инструментов в руководствах
  .agentic-planning/plan_mcp_dev_interface/1.1_dev_client_core_sequential.md
  .agentic-planning/plan_mcp_dev_interface/1.2_cli_commands_sequential.md
  .agentic-planning/plan_mcp_dev_interface/1.3_annotations_verification_sequential.md
  .agentic-planning/plan_mcp_dev_interface/2.1_server_yandex_tracker_parallel.md
  .agentic-planning/plan_mcp_dev_interface/2.2_server_yandex_wiki_parallel.md
  .agentic-planning/plan_mcp_dev_interface/2.3_server_ticktick_parallel.md
  .agentic-planning/plan_mcp_dev_interface/2.4_root_docs_parallel.md
  .agentic-planning/plan_mcp_dev_interface/3.1_smoke_harness_dedup_sequential.md
  .agentic-planning/plan_mcp_dev_interface/README.md
  .agentic-planning/plan_mcp_dev_interface/inventory_tools_annotations.md
  ARCHITECTURE.md
  CLAUDE.md
  DOCS.md
Due: none

chore(release): 2.0.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
  packages/framework/cli/package.json
  packages/framework/core/package.json
  packages/framework/infrastructure/package.json
  packages/servers/yandex-tracker/package.json
  packages/servers/yandex-wiki/package.json
  packages/wrappers/mcp-server-yandex-tracker/package.json
  packages/wrappers/mcp-server-yandex-wiki/package.json
Due: sort-package-json

Notes added by 'git notes add'
  967d99cc325815fc9dfdfb34cb9e8fadd56ed114
Due: none

feat(quality): scripts/ вышли из слепой зоны — свой профиль линта
  CLAUDE.md
  eslint.shared.config.js
  package.json
  packages/servers/eslint.config.js
  packages/servers/scripts/build-mcpb.ts
  packages/servers/yandex-tracker/package.json
  packages/servers/yandex-tracker/scripts/analyze-test-performance.ts
  packages/servers/yandex-wiki/package.json
  scripts/validate.sh
  turbo.json
Due: sort-package-json, prettier --write

feat(quality): typecheck для scripts/ — живой гейт, не заложник тестов
  CLAUDE.md
  packages/servers/yandex-tracker/package.json
  packages/servers/yandex-tracker/tsconfig.scripts.json
  packages/servers/yandex-wiki/package.json
  packages/servers/yandex-wiki/tsconfig.scripts.json
  scripts/validate.sh
  turbo.json
Due: sort-package-json

fix(quality): правило ловило четыре формы дефекта из десяти
  eslint.shared.config.js
  package.json
  packages/servers/yandex-tracker/package.json
  packages/servers/yandex-wiki/package.json
  turbo.json
Due: sort-package-json

refactor(servers): общий проводной харнесс вместо шести копий
  packages/framework/dev-client/src/session/dev-session.ts
  packages/framework/dev-client/tests/unit/session/dev-session.test.ts
  packages/servers/scripts/mcp-wire-harness/fake-api-server.ts
  packages/servers/scripts/mcp-wire-harness/index.ts
  packages/servers/scripts/mcp-wire-harness/process-lifecycle.ts
  packages/servers/scripts/mcp-wire-harness/scenario-runner.ts
  packages/servers/scripts/mcp-wire-harness/smoke-test.ts
  packages/servers/scripts/mcp-wire-harness/tools-list-diagnostics.ts
  packages/servers/scripts/mcp-wire-harness/utf8-stream.ts
  packages/servers/scripts/mcp-wire-harness/wire-session.ts
  packages/servers/ticktick/package.json
  packages/servers/ticktick/scripts/raw-wire-test.ts
  packages/servers/ticktick/scripts/smoke-test-server.ts
  packages/servers/yandex-tracker/package.json
  packages/servers/yandex-tracker/scripts/raw-wire-test.ts
  packages/servers/yandex-tracker/scripts/smoke-test-server.ts
  packages/servers/yandex-wiki/package.json
  packages/servers/yandex-wiki/scripts/raw-wire-test.ts
  packages/servers/yandex-wiki/scripts/smoke-test-server.ts
Due: sort-package-json, prettier --write

docs: прогон tools:batch в чек-листе перед коммитом, план удалён
  .agentic-planning/plan_mcp_dev_interface/1.1_dev_client_core_sequential.md
  .agentic-planning/plan_mcp_dev_interface/1.2_cli_commands_sequential.md
  .agentic-planning/plan_mcp_dev_interface/1.3_annotations_verification_sequential.md
  .agentic-planning/plan_mcp_dev_interface/2.1_server_yandex_tracker_parallel.md
  .agentic-planning/plan_mcp_dev_interface/2.2_server_yandex_wiki_parallel.md
  .agentic-planning/plan_mcp_dev_interface/2.3_server_ticktick_parallel.md
  .agentic-planning/plan_mcp_dev_interface/2.4_root_docs_parallel.md
  .agentic-planning/plan_mcp_dev_interface/3.1_smoke_harness_dedup_sequential.md
  .agentic-planning/plan_mcp_dev_interface/README.md
  .agentic-planning/plan_mcp_dev_interface/inventory_tools_annotations.md
  CLAUDE.md
Due: none

feat(quality): scripts/ вышли из слепой зоны — линт и typecheck (#392)
  CLAUDE.md
  eslint.shared.config.js
  package.json
  packages/servers/eslint.config.js
  packages/servers/scripts/build-mcpb.ts
  packages/servers/yandex-tracker/package.json
  packages/servers/yandex-tracker/scripts/analyze-test-performance.ts
  packages/servers/yandex-tracker/tsconfig.scripts.json
  packages/servers/yandex-wiki/package.json
  packages/servers/yandex-wiki/tsconfig.scripts.json
  scripts/validate.sh
  turbo.json
Due: sort-package-json, prettier --write

chore(release): 2.1.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
  packages/framework/cli/package.json
  packages/framework/core/package.json
  packages/framework/infrastructure/package.json
  packages/servers/yandex-tracker/package.json
  packages/servers/yandex-wiki/package.json
  packages/wrappers/mcp-server-yandex-tracker/package.json
  packages/wrappers/mcp-server-yandex-wiki/package.json
Due: sort-package-json

Notes added by 'git notes add'
  93a15bee26ff25427a9d2f8c69cb92f284269cce
Due: none

test(tracker): моки фасада получили настоящую форму BatchResult
  packages/servers/yandex-tracker/tests/helpers/checklist-item.fixture.ts
  packages/servers/yandex-tracker/tests/helpers/pagination.fixture.ts
  packages/servers/yandex-tracker/tests/tracker_api/facade/yandex-tracker.facade.batch.test.ts
Due: none

test(tracker): пятый контейнер фасада, фикстуры доски и спринта, битые импорты
  packages/servers/yandex-tracker/tests/composition-root/container.test.ts
  packages/servers/yandex-tracker/tests/composition-root/tool-access-policy.test.ts
  packages/servers/yandex-tracker/tests/helpers/agile.fixture.ts
  packages/servers/yandex-tracker/tests/integration/helpers/mcp-client.ts
  packages/servers/yandex-tracker/tests/mcp/tools-metrics.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/attachment/get-thumbnail.operation.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/facade/yandex-tracker.facade.batch.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/facade/yandex-tracker.facade.test.ts
Due: none

test(wiki): доступ к process.env через индекс вместо точки
  packages/servers/yandex-wiki/tests/unit/config/api-base-config.test.ts
Due: none

test(tracker): batch-литералы и связи приведены к контракту
  packages/servers/yandex-tracker/tests/tools/api/checklists/add/add-checklist-item.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/checklists/update/update-checklist-item.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/issues/links/create/create-link.tool.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/link/create-link.operation.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/facade/yandex-tracker.facade.batch.test.ts
Due: none

test(tracker): литералы задач заменены фикстурой, снят слабый тип у хелпера
  .agentic-planning/typecheck_tests_debt/baseline_assertions.txt
  .agentic-planning/typecheck_tests_debt/debt_yandex-tracker.md
  .agentic-planning/typecheck_tests_debt/debt_yandex-wiki.md
  .agentic-planning/typecheck_tests_debt/raw_ticktick.txt
  .agentic-planning/typecheck_tests_debt/raw_yandex-tracker.txt
  .agentic-planning/typecheck_tests_debt/raw_yandex-wiki.txt
  packages/servers/yandex-tracker/tests/smoke/tool-output-schema-representatives.test.ts
  packages/servers/yandex-tracker/tests/tool-registry.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/attachment/get-thumbnail.operation.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/issue/get-issues.operation.test.ts
Due: none

test(tracker): отсутствующий элемент массива роняет тест, а не читается молча
  packages/servers/yandex-tracker/tests/helpers/tool-result.helper.ts
  packages/servers/yandex-tracker/tests/tools/api/checklists/add/add-checklist-item.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/checklists/delete/delete-checklist-item.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/checklists/get/get-checklist.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/checklists/update/update-checklist-item.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/comments/add/add-comment.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/comments/delete/delete-comment.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/comments/edit/edit-comment.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/comments/get/get-comments.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/issues/attachments/get/get-attachments.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/issues/links/create/create-link.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/issues/links/delete/delete-link.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/issues/links/get/get-issue-links.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/worklog/add/add-worklog.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/worklog/get/get-worklogs.tool.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/attachment/download-attachment.operation.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/attachment/get-attachments.operation.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/checklist/get-checklist.operation.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/comment/add-comment.operation.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/comment/delete-comment.operation.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/comment/edit-comment.operation.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/link/create-link.operation.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/link/delete-link.operation.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/link/get-issue-links.operation.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/worklog/add-worklog.operation.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/worklog/get-worklogs.operation.test.ts
Due: none

test(tracker): фикстуры задачи, ворклога и bulk-операции вместо литералов
  packages/servers/yandex-tracker/tests/helpers/issue.fixture.ts
  packages/servers/yandex-tracker/tests/helpers/worklog.fixture.ts
  packages/servers/yandex-tracker/tests/tracker_api/facade/yandex-tracker.facade.batch.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/facade/yandex-tracker.facade.test.ts
Due: none

test(tracker): моки batch-результатов и очередей приведены к реальным типам
  packages/servers/yandex-tracker/tests/mcp/tools-metrics.test.ts
  packages/servers/yandex-tracker/tests/resources/issue-resource-provider.test.ts
  packages/servers/yandex-tracker/tests/resources/tracker-resources.wire.test.ts
  packages/servers/yandex-tracker/tests/smoke/tool-output-schema-representatives.test.ts
  packages/servers/yandex-tracker/tests/smoke/tool-schema-contract.smoke.test.ts
  packages/servers/yandex-tracker/tests/tools/api/checklists/add/add-checklist-item.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/checklists/delete/delete-checklist-item.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/checklists/get/get-checklist.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/checklists/update/update-checklist-item.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/comments/add/add-comment.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/comments/delete/delete-comment.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/comments/edit/edit-comment.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/issues/analyze/analyze-issue-description.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/issues/analyze/analyze-then-update-fallback.test.ts
  packages/servers/yandex-tracker/tests/tools/api/issues/create/create-issue.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/issues/find/find-issues.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/issues/get/get-issues.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/issues/links/delete/delete-link.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/issues/transitions/execute/transition-issue.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/issues/update/update-issue.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/worklog/add/add-worklog.tool.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/issue/create/create-issue.operation.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/issue/find/find-issues.operation.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/issue/transitions/execute/transition-issue.operation.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/issue/update/update-issue.operation.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/facade/services/issue.service.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/facade/yandex-tracker.facade.test.ts
  packages/servers/yandex-tracker/tests/unit/config/resolve-logs-dir.test.ts
  packages/servers/yandex-tracker/tests/unit/config/retry-config.test.ts
Due: none

test(tracker): обязательные поля DTO и разделение User/UserRef в фикстурах
  packages/servers/yandex-tracker/tests/helpers/common-fixtures.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/checklist/add-checklist-item.operation.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/checklist/update-checklist-item.operation.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/facade/services/queue.service.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/facade/yandex-tracker.facade.test.ts
Due: none

test(tracker): долг typecheck:tests закрыт полностью
  packages/servers/yandex-tracker/tests/cli/build-launch.test.ts
  packages/servers/yandex-tracker/tests/helpers/common-fixtures.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/issues/attachments/download/download-attachment.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/issues/attachments/thumbnail/get-thumbnail.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/smoke/batch-tool-error-contract.test.ts
  packages/servers/yandex-tracker/tests/smoke/tool-schema-contract.smoke.test.ts
  packages/servers/yandex-tracker/tests/tools/api/issues/transitions/execute/transition-issue.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/sprints/manage-sprint-lifecycle.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/users/get-users.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/worklog/search/search-worklog.tool.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/attachment/download-attachment.operation.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/checklist/delete-checklist-item.operation.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/comment/add-comment.operation.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/issue/transitions/execute/transition-issue.operation.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/project/get-project.operation.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/facade/services/issue.service.test.ts
Due: none

test(tracker): убран устаревший page из фикстур пагинации
  packages/servers/yandex-tracker/tests/helpers/comment-dto.fixture.ts
  packages/servers/yandex-tracker/tests/helpers/common-fixtures.ts
  packages/servers/yandex-tracker/tests/helpers/project-dto.fixture.ts
  packages/servers/yandex-tracker/tests/helpers/queue-dto.fixture.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/checklists/get/get-checklist.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/issues/attachments/get/get-attachments.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/tools/api/queues/get-queues.tool.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/comment/get-comments.operation.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/issue/changelog/get-issue-changelog.operation.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/project/get-projects.operation.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/queue/get-queues.operation.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/dto/issue/dto.factories.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/facade/services/queue.service.test.ts
Due: none

test(tracker): фикстуры Entity API, доступ к protected без приведений
  packages/servers/yandex-tracker/tests/helpers/entity-api.fixture.ts
  packages/servers/yandex-tracker/tests/mcp/tool-metadata.test.ts
  packages/servers/yandex-tracker/tests/smoke/definition-generation.smoke.test.ts
  packages/servers/yandex-tracker/tests/tools/api/entities/add-goal-key-result.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/entities/create-entity.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/entities/find-entities.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/entities/get-entity.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/entities/get-goal-key-results.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/entities/set-goal-key-results.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/entities/update-entity.tool.test.ts
Due: none

test(tracker): моки очередей и результатов поиска приведены к контракту
  packages/servers/yandex-tracker/tests/helpers/agile.fixture.ts
  packages/servers/yandex-tracker/tests/helpers/entity-api.fixture.ts
  packages/servers/yandex-tracker/tests/helpers/issue.fixture.ts
  packages/servers/yandex-tracker/tests/helpers/worklog.fixture.ts
  packages/servers/yandex-tracker/tests/resources/issue-resource-provider.test.ts
  packages/servers/yandex-tracker/tests/resources/tracker-resources.wire.test.ts
  packages/servers/yandex-tracker/tests/tools/api/issues/analyze/analyze-issue-description.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/issues/analyze/analyze-then-update-fallback.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/facade/services/issue.service.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/facade/services/queue.service.test.ts
Due: none

test(tracker): интеграционные хелперы и фикстуры приведены к типам
  packages/servers/yandex-tracker/tests/helpers/checklist-item.fixture.ts
  packages/servers/yandex-tracker/tests/helpers/component.fixture.ts
  packages/servers/yandex-tracker/tests/helpers/file-upload.helper.ts
  packages/servers/yandex-tracker/tests/helpers/queue-dto.fixture.ts
  packages/servers/yandex-tracker/tests/integration/helpers/mcp-client.ts
  packages/servers/yandex-tracker/tests/integration/helpers/mock-server.ts
  packages/servers/yandex-tracker/tests/integration/helpers/template-based-generator.ts
Due: none

feat(quality): typecheck:tests включён в гейт валидации
  packages/servers/yandex-tracker/package.json
  packages/servers/yandex-wiki/package.json
  scripts/validate.sh
  turbo.json
Due: sort-package-json

docs(planning): итог по долгу typecheck:tests
  .agentic-planning/typecheck_tests_debt/README.md
Due: none

fix(quality): typecheck:scripts видит общий проводной харнесс
  packages/servers/scripts/mcp-wire-harness/wire-session.ts
  packages/servers/yandex-tracker/tsconfig.scripts.json
  packages/servers/yandex-wiki/tsconfig.scripts.json
Due: none

fix(quality): typecheck:scripts видит общий проводной харнесс (#394)
  packages/servers/scripts/mcp-wire-harness/wire-session.ts
  packages/servers/yandex-tracker/tsconfig.scripts.json
  packages/servers/yandex-wiki/tsconfig.scripts.json
Due: none

Path conditions:
  sort-package-json: any of: **/package.json
  prettier --write: any of: packages/servers/yandex-tracker/scripts/**/*.ts
