Repository FractalizeR/mcp_servers: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, prettier --write

.lintstagedrc.json:

{
  "**/package.json": [
    "sort-package-json"
  ],
  "!(packages/servers/yandex-tracker/scripts)/**/*.ts": [
    "prettier --write",
    "eslint --fix"
  ],
  "packages/servers/yandex-tracker/scripts/**/*.ts": [
    "prettier --write"
  ]
}

test(mcp-servers): добавление unit тестов для operations
  packages/servers/ticktick/tests/helpers/index.ts
  packages/servers/ticktick/tests/helpers/mock-factories.ts
  packages/servers/ticktick/tests/unit/ticktick_api/api_operations/tasks/get-task.operation.test.ts
  packages/servers/yandex-wiki/tests/unit/wiki_api/api_operations/grid/get-grid.operation.test.ts
Due: none

docs: финальный отчет ревью MCP серверов
  .agentic-planning/mcp_servers_review_findings.md
Due: none

test(mcp-servers): расширение тестового покрытия facade и tools
  packages/servers/ticktick/tests/helpers/mock-factories.ts
  packages/servers/ticktick/tests/unit/ticktick_api/facade/ticktick.facade.test.ts
  packages/servers/ticktick/tests/unit/tools/tasks/get-task.tool.test.ts
  packages/servers/yandex-wiki/tests/unit/tools/api/pages/get-page.tool.test.ts
  packages/servers/yandex-wiki/tests/unit/wiki_api/facade/services/grid.service.test.ts
  packages/servers/yandex-wiki/tests/unit/wiki_api/facade/services/page.service.test.ts
Due: none

docs: обновление счётчика тестов в отчёте ревью
  .agentic-planning/mcp_servers_review_findings.md
Due: none

fix: исправление тестов и анализаторов качества
  packages/framework/cli/package.json
  packages/framework/cli/src/connectors/base/configurable-connector.ts
  packages/framework/cli/src/connectors/base/index.ts
  packages/framework/cli/src/connectors/codex/codex.connector.ts
  packages/framework/cli/src/connectors/connector-factory.ts
  packages/framework/cli/src/connectors/gemini/gemini.connector.ts
  packages/framework/cli/src/connectors/index.ts
  packages/framework/cli/src/connectors/qwen/qwen.connector.ts
  packages/framework/core/package.json
  packages/framework/infrastructure/package.json
  packages/framework/search/package.json
  packages/servers/ticktick/package.json
  packages/servers/ticktick/vitest.config.ts
  packages/servers/yandex-tracker/package.json
  packages/servers/yandex-wiki/package.json
Due: sort-package-json

chore: удалить устаревшие скрипты сборки и синхронизации версии для Yandex Tracker и Yandex Wiki
  package-lock.json
  package.json
  packages/servers/scripts/build-mcpb.ts
  packages/servers/scripts/increment-build.ts
  packages/servers/ticktick/package.json
  packages/servers/yandex-tracker/package.json
  packages/servers/yandex-tracker/scripts/build-mcpb.ts
  packages/servers/yandex-wiki/package.json
  packages/servers/yandex-wiki/scripts/increment-build.ts
Due: sort-package-json, prettier --write

docs: план исправления инфраструктуры сборки монорепозитория
  .agentic-planning/plan_build_infrastructure_review/1.1_fix_config_consistency_sequential.md
  .agentic-planning/plan_build_infrastructure_review/1.2_fix_turbo_and_scripts_sequential.md
  .agentic-planning/plan_build_infrastructure_review/2.1_setup_versioning_sequential.md
  .agentic-planning/plan_build_infrastructure_review/2.2_fix_ci_workflows_parallel.md
  .agentic-planning/plan_build_infrastructure_review/3.1_optimize_dependencies_parallel.md
  .agentic-planning/plan_build_infrastructure_review/3.2_update_depcruise_rules_parallel.md
  .agentic-planning/plan_build_infrastructure_review/README.md
Due: none

fix: добавить отсутствующие пакеты в конфигурации monorepo
  .agentic-planning/plan_build_infrastructure_review/1.1_fix_config_consistency_sequential.md
  .agentic-planning/plan_build_infrastructure_review/README.md
  knip.json
  packages/framework/cli/tsconfig.json
  packages/framework/search/tsconfig.json
  tsconfig.json
  vitest.workspace.ts
Due: none

fix: исправить turbo.json inputs и унифицировать validate скрипты
  packages/framework/cli/package.json
  packages/framework/core/package.json
  packages/framework/infrastructure/package.json
  packages/framework/search/package.json
  packages/servers/ticktick/package.json
  packages/servers/yandex-tracker/package.json
  packages/servers/yandex-wiki/package.json
  turbo.json
Due: sort-package-json

fix: убрать || true из cpd/depcruise скриптов и добавить knip в validate
  package.json
  packages/framework/cli/package.json
  packages/framework/core/package.json
  packages/framework/infrastructure/package.json
  packages/framework/search/package.json
  packages/servers/ticktick/package.json
  packages/servers/yandex-tracker/package.json
  packages/servers/yandex-wiki/package.json
Due: sort-package-json

docs: отметить завершение этапа 1.2 плана
  .agentic-planning/plan_build_infrastructure_review/1.2_fix_turbo_and_scripts_sequential.md
Due: none

docs: добавлен чеклист разработки MCP серверов
  CLAUDE.md
  DOCS.md
  MCP_SERVER_CHECKLIST.md
Due: none

fix: исправить CI workflows и обновить knip конфигурацию
  .agentic-planning/plan_build_infrastructure_review/2.2_fix_ci_workflows_parallel.md
  .agentic-planning/plan_build_infrastructure_review/README.md
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  knip.json
Due: none

feat: настроить semantic-release для автоматического версионирования
  .agentic-planning/plan_build_infrastructure_review/2.1_setup_versioning_sequential.md
  .agentic-planning/plan_build_infrastructure_review/README.md
  .github/workflows/release.yml
  .releaserc.json
  commitlint.config.js
  knip.json
  package-lock.json
  package.json
  scripts/update-versions.mjs
Due: sort-package-json

feat(ticktick): добавить manifest.template.json для чистой генерации манифеста
  packages/servers/ticktick/manifest.template.json
Due: none

chore: оптимизировать devDependencies и обобщить правила depcruise
  .agentic-planning/plan_build_infrastructure_review/3.1_optimize_dependencies_parallel.md
  .agentic-planning/plan_build_infrastructure_review/3.2_update_depcruise_rules_parallel.md
  .agentic-planning/plan_build_infrastructure_review/README.md
  .dependency-cruiser.cjs
  package-lock.json
  package.json
  packages/framework/cli/package.json
  packages/framework/core/package.json
  packages/framework/infrastructure/package.json
  packages/framework/search/package.json
  packages/servers/ticktick/package.json
  packages/servers/yandex-tracker/package.json
  packages/servers/yandex-wiki/package.json
Due: sort-package-json

chore: удалить завершённый план build infrastructure review
  .agentic-planning/plan_build_infrastructure_review/1.1_fix_config_consistency_sequential.md
  .agentic-planning/plan_build_infrastructure_review/1.2_fix_turbo_and_scripts_sequential.md
  .agentic-planning/plan_build_infrastructure_review/2.1_setup_versioning_sequential.md
  .agentic-planning/plan_build_infrastructure_review/2.2_fix_ci_workflows_parallel.md
  .agentic-planning/plan_build_infrastructure_review/3.1_optimize_dependencies_parallel.md
  .agentic-planning/plan_build_infrastructure_review/3.2_update_depcruise_rules_parallel.md
  .agentic-planning/plan_build_infrastructure_review/README.md
Due: none

fix(build): исправить race condition при параллельной сборке MCPB
  packages/servers/scripts/build-mcpb.ts
  packages/servers/ticktick/.mcpbignore
  packages/servers/yandex-tracker/.mcpbignore
  packages/servers/yandex-wiki/.mcpbignore
Due: none

fix(ticktick): исправить запуск MCP сервера и добавить smoke test
  MCP_SERVER_CHECKLIST.md
  packages/servers/ticktick/manifest.template.json
  packages/servers/ticktick/package.json
  packages/servers/ticktick/scripts/smoke-test-server.ts
  packages/servers/ticktick/src/index.ts
Due: sort-package-json

refactor: унифицировать smoke тесты во всех MCP серверах
  MCP_SERVER_CHECKLIST.md
  packages/servers/yandex-tracker/package.json
  packages/servers/yandex-wiki/package.json
Due: sort-package-json

fix(yandex-tracker): обновить версию на 0.1.0 в package.json
  packages/servers/yandex-tracker/package.json
Due: sort-package-json

chore: обновить package-lock.json
  package-lock.json
Due: none

fix(build): унифицировать содержимое MCPB архивов
  .mcpbignore
Due: none

docs: add tech debt cleanup plan
  .agentic-planning/plan_tech_debt_cleanup/1.0_overview.md
  .agentic-planning/plan_tech_debt_cleanup/1.1_quick_wins_sequential.md
  .agentic-planning/plan_tech_debt_cleanup/2.1_cli_circular_deps_parallel.md
  .agentic-planning/plan_tech_debt_cleanup/2.2_issue_entity_split_parallel.md
  .agentic-planning/plan_tech_debt_cleanup/2.3_setup_server_refactor_parallel.md
  .agentic-planning/plan_tech_debt_cleanup/2.4_facades_refactor_parallel.md
  .agentic-planning/plan_tech_debt_cleanup/3.1_validation_sequential.md
Due: none

chore: migrate .eslintignore to eslint.config.mjs
  eslint.config.mjs
  packages/servers/yandex-tracker/.eslintignore
Due: none

fix(cli): resolve circular dependencies in types
  .agentic-planning/plan_tech_debt_cleanup/1.1_quick_wins_sequential.md
  packages/framework/cli/src/connectors/base/connector.interface.ts
  packages/framework/cli/src/types.ts
  packages/framework/cli/src/types/base.types.ts
  packages/framework/cli/src/utils/config-manager.ts
Due: none

docs: update tech debt cleanup plan progress
  .agentic-planning/plan_tech_debt_cleanup/1.0_overview.md
  .agentic-planning/plan_tech_debt_cleanup/2.2_issue_entity_split_parallel.md
Due: none

refactor(yandex-tracker): вынести handler helpers из index.ts
  .agentic-planning/plan_tech_debt_cleanup/1.0_overview.md
  packages/servers/yandex-tracker/src/index.ts
  packages/servers/yandex-tracker/src/server/handlers.ts
Due: none

refactor(yandex-wiki): вынести handler helpers из server.ts
  packages/servers/yandex-wiki/src/server.ts
  packages/servers/yandex-wiki/src/server/handlers.ts
Due: none

refactor(ticktick): extract handler helpers from index.ts
  packages/servers/ticktick/src/index.ts
  packages/servers/ticktick/src/server/handlers.ts
Due: none

docs: обновить план tech_debt_cleanup после завершения основных этапов
  .agentic-planning/plan_tech_debt_cleanup/1.0_overview.md
Due: none

test(yandex-tracker): add unit tests for facade services
  packages/servers/yandex-tracker/tests/tracker_api/facade/services/issue.service.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/facade/services/queue.service.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/facade/yandex-tracker.facade.batch.test.ts
Due: none

refactor: fix max-params violations with Operations Containers pattern
  packages/servers/ticktick/src/composition-root/container.ts
  packages/servers/ticktick/src/composition-root/types.ts
  packages/servers/ticktick/src/ticktick_api/facade/containers/index.ts
  packages/servers/ticktick/src/ticktick_api/facade/containers/project-operations.container.ts
  packages/servers/ticktick/src/ticktick_api/facade/containers/task-operations.container.ts
  packages/servers/ticktick/src/ticktick_api/facade/ticktick.facade.ts
  packages/servers/ticktick/tests/unit/ticktick_api/facade/ticktick.facade.test.ts
  packages/servers/yandex-tracker/src/composition-root/definitions/facade-services.ts
  packages/servers/yandex-tracker/src/tracker_api/facade/services/containers/core-services.container.ts
  packages/servers/yandex-tracker/src/tracker_api/facade/services/containers/index.ts
  packages/servers/yandex-tracker/src/tracker_api/facade/services/containers/issue-operations.container.ts
  packages/servers/yandex-tracker/src/tracker_api/facade/services/containers/issue-services.container.ts
  packages/servers/yandex-tracker/src/tracker_api/facade/services/containers/project-agile-services.container.ts
  packages/servers/yandex-tracker/src/tracker_api/facade/services/containers/queue-operations.container.ts
  packages/servers/yandex-tracker/src/tracker_api/facade/services/containers/queue-services.container.ts
  packages/servers/yandex-tracker/src/tracker_api/facade/services/issue.service.ts
  packages/servers/yandex-tracker/src/tracker_api/facade/services/queue.service.ts
  packages/servers/yandex-tracker/src/tracker_api/facade/yandex-tracker.facade.ts
  packages/servers/yandex-tracker/tests/tracker_api/facade/services/issue.service.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/facade/services/queue.service.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/facade/yandex-tracker.facade.batch.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/facade/yandex-tracker.facade.test.ts
  packages/servers/yandex-wiki/src/composition-root/definitions/facade-services.ts
  packages/servers/yandex-wiki/src/wiki_api/facade/services/containers/grid-crud-operations.container.ts
  packages/servers/yandex-wiki/src/wiki_api/facade/services/containers/grid-data-operations.container.ts
  packages/servers/yandex-wiki/src/wiki_api/facade/services/containers/index.ts
  packages/servers/yandex-wiki/src/wiki_api/facade/services/containers/page-operations.container.ts
  packages/servers/yandex-wiki/src/wiki_api/facade/services/grid.service.ts
  packages/servers/yandex-wiki/src/wiki_api/facade/services/index.ts
  packages/servers/yandex-wiki/src/wiki_api/facade/services/page.service.ts
  packages/servers/yandex-wiki/tests/unit/wiki_api/facade/services/grid.service.test.ts
  packages/servers/yandex-wiki/tests/unit/wiki_api/facade/services/page.service.test.ts
Due: none

docs: обновить план tech_debt_cleanup после завершения этапа 2.4
  .agentic-planning/plan_tech_debt_cleanup/1.0_overview.md
Due: none

refactor: extract builder functions from loadConfig to reduce function length
  packages/servers/ticktick/src/config/config-loader.ts
  packages/servers/yandex-tracker/src/config/config-loader.ts
Due: none

chore: удалить завершённый план tech_debt_cleanup
  .agentic-planning/plan_tech_debt_cleanup/1.0_overview.md
  .agentic-planning/plan_tech_debt_cleanup/1.1_quick_wins_sequential.md
  .agentic-planning/plan_tech_debt_cleanup/2.1_cli_circular_deps_parallel.md
  .agentic-planning/plan_tech_debt_cleanup/2.3_setup_server_refactor_parallel.md
  .agentic-planning/plan_tech_debt_cleanup/2.4_facades_refactor_parallel.md
  .agentic-planning/plan_tech_debt_cleanup/3.1_validation_sequential.md
Due: none

chore: удалить завершённые планы (ticktick_mcp, batch_operations)
  .agentic-planning/plan_batch_operations/0_overview.md
  .agentic-planning/plan_batch_operations/1.1_update_checklist_item_parallel.md
  .agentic-planning/plan_batch_operations/1.2_delete_checklist_item_parallel.md
  .agentic-planning/plan_batch_operations/2_validation_sequential.md
  .agentic-planning/plan_ticktick_mcp/0_overview.md
  .agentic-planning/plan_ticktick_mcp/1.1_infrastructure_setup_sequential.md
  .agentic-planning/plan_ticktick_mcp/1.2_oauth_http_layer_sequential.md
  .agentic-planning/plan_ticktick_mcp/2.1_project_operations_parallel.md
  .agentic-planning/plan_ticktick_mcp/2.2_task_operations_parallel.md
  .agentic-planning/plan_ticktick_mcp/3.1_facade_di_sequential.md
  .agentic-planning/plan_ticktick_mcp/4.1_project_tools_parallel.md
  .agentic-planning/plan_ticktick_mcp/4.2_task_tools_parallel.md
  .agentic-planning/plan_ticktick_mcp/4.3_date_helper_tools_parallel.md
  .agentic-planning/plan_ticktick_mcp/5.1_integration_mcp_sequential.md
  .agentic-planning/plan_ticktick_mcp/6.1_testing_docs_parallel.md
Due: none

docs: обновить findings и чеклист MCP серверов
  .agentic-planning/mcp_servers_review_findings.md
  MCP_SERVER_CHECKLIST.md
Due: none

docs: детальный план унификации MCP серверов
  .agentic-planning/plan_mcp_servers_unification/0_overview.md
  .agentic-planning/plan_mcp_servers_unification/1_lower_thresholds_sequential.md
  .agentic-planning/plan_mcp_servers_unification/2.1_smoke_tests_wiki_parallel.md
  .agentic-planning/plan_mcp_servers_unification/2.2_smoke_tests_ticktick_parallel.md
  .agentic-planning/plan_mcp_servers_unification/3.1_scripts_wiki_parallel.md
  .agentic-planning/plan_mcp_servers_unification/3.2_scripts_ticktick_parallel.md
  .agentic-planning/plan_mcp_servers_unification/4.1_unit_tests_wiki_parallel.md
  .agentic-planning/plan_mcp_servers_unification/4.2_unit_tests_ticktick_parallel.md
  .agentic-planning/plan_mcp_servers_unification/5_validation_sequential.md
Due: none
